/*

@media screen and (max-width: 1200px) {
  .page_order{

    background: #ffd22a;
  }
}

@media screen and (max-width: 992px) {
  .page_order{

    background: #38ff4d;
  }
}


@media screen and (max-width: 768px) {
  .page_order{

    background: #3b2fff;
  }
}

@media screen and (max-width: 576px) {
  .page_order{
    display: block;
    background: #f0f;
  }
}


@media screen and (max-width: 450px) {
  .page_order{

    background: #1dffe1;
  }
}
*/


@media (min-width: 1604px) {
  .container {
    // background: #f00;
    max-width: 1544px
  }


}


@media (min-width: 992px) {

  #advantages {
    .card {
      max-width: 49%;
    }
  }

  header{
    .border-bottom.border-sm-bottom-0{
      border-bottom: none !important;
    }
  }
  #navmain{
    display: none !important;
  }
}


@media (max-width: 992px) {

  #navmain{
    .nav-link {
      padding: 0.5rem 0.76rem;
    }
  }
  #slider {
    .txt-prime {
      top: 10%;
      margin-left: 31%;

      h1 {
        font-size: 30px;
      }

      h3 {
        font-size: 18px;
      }
    }


    .selectorCar {
      select, input {
        font-size: 12px;
      }


    }
  }
}

/*@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: none;
  }
}*/

@media (min-width: 768px) and (max-width: 1544px) {

  .container-sidebar {
    width: auto;
  }
  /*
         span {
      font-size: 14px;
    }

    .ravon-type {
      font-size: 12px;
    }

  .ravon .head-dark{
    padding: 0;
    align-items: center;
  }*/

  .ravon-param .ravon-icon{
    margin: 0;
  }
  // selectorCar

  .selectorCar {
    font-size: 14px;

    .form-group {
      margin: 10px 0 0;
    }


    .form-control {
      margin-bottom: 5px;
    }

    label {
      margin-bottom: 0;
    }
  }

}


@media screen and (max-width: 1200px) {

  .part-car-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  .part-car-wrapper-line {
    .ravon-tail {
      grid-template-columns: 1fr;

      &-services {
        grid-template-columns: repeat(1, 1fr);
        justify-items: flex-start;
      }
    }
  }
}

@media screen and (max-width: 992px) {

  .languge-valuta{
    display: none;
  }
  header .box-3 {
    order: 2;
    width: auto;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  header {
    .container {
      // background: #f0f;
    }

    .box-free {
      height: auto;
      border-bottom: none;
    }

  }

  .part-car-wrapper-line {
    .ravon-tail {
      display: block;

      &-services {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
      }
    }

  }

}

@media screen and (max-width: 768px) {
  .selectorCar .form-control {
    font-size: 0.7rem;
  }
  main{
    font-size: 14px;
  }
  header {
    .box-2-2 {
      order: 2;
    }

    .box-3 {
      order: 2;
      width: auto;
    }

    .box-2 {
      order: 1;
    }

    .box-free {
      //margin-top: 1rem;
      border-bottom: solid 1px #eee;
    }
  }
  .selectorCar .form-control.time-input-class {
    width: 100%;
  }
  .selectorCar {
    position: relative;
    top: 0;
    left: 0;

    max-width: 100%;
  }
  .container-sidebar {
    padding: 0;
  }

  .slider {
    display: none;
  }
  .slider-img {
    display: block;
  }
  .page_order {
    display: block;
  }
  .container-sidebar {
    max-width: 100%;
  }
  /*  .filter-box{
      display: none;
    }*/
  .ravon-head {
    min-height: auto;
  }


  #vaucher {
    .wrap-vaucher {
      background-color: #fff;
      margin-left: -15px;
    }
  }
  .container-page {
    padding-left: 15px;
  }

  .ravon-img {
    align-items: normal;
  }
  .per-data-head-dark  h4 {
    font-size: 1rem;
  }

  .head-red .col {
    font-size: 1rem;
  }
}




@media screen and (max-width: 580px) {
  .nav-open .city-select > li:hover ul {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }

  .number_phone {
    font-size: 12px;
  }

  .container-page h1 {
    font-size: 1.5rem;
  }
  .part-car-wrapper h4 {
    font-size: 1.1rem;
  }
  .ravon-tail-head-class {
    font-size: .8rem;
  }
  .mobi-v-none {
    display: none;
  }

  .modal-body, .modal-footer, .modal-header {
    padding: .5rem;
  }

  .ravon-head h3 {
    font-size: 1.2rem;
  }


  .city-select {
    position: relative;

    > li {
      &:hover {
        position: unset;

        ul {
          grid-template-columns: repeat(auto-fill, 1fr);
          max-height: 225px;
          overflow: auto;
          padding: 0 1rem;
          width: 100%;
        }
      }
    }
  }

  header {
    padding-bottom: 0;
  }

  .head-red .col div {
    font-size: 12px;
    margin-bottom: 0;
    /* margin-left: -15px; */
  }

}










.order-print {
  display: none;
}

@media print {
  body * {
    visibility: hidden;
  }

  .order-print {
    visibility: visible;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100000;
  }
}
