
footer {
  background: #313131;
  //padding: 55px 0;
  color: #fff;
  font-size: 14px;

  li {
    margin-bottom: 18px;

    a {
      display: inline-block;
      color: #fff;
      transition: 0.8s;

      &:hover {
        text-decoration: underline;
        color: #d5001c;
      }
    }
  }

  .box-foo-text {
    margin-bottom: 44px;
  }

  .box-footer {
    //margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

.ss {
    li {
      margin-top: 7px;
      margin-right: 5px;

      &:hover {
        a {
          background-color: #d5001c;
        }
      }
    }

    a {
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      background-color: #4b4b4b;
      transition: 0.8s;

      img {
        max-width: 20px;
        width: 100%;
      }
    }
  }
}


.footer-card{
  transition: .8s;
  &:hover{
   background: #3c3c3c;
 }
}
