@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI-Light.eot');
  src: local('/fonts/SegoeUI/Segoe UI Light'), local('SegoeUI-Light'),
  url('/fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SegoeUI-Light.woff') format('woff'),
  url('/fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI.eot');
  src: local('/font/SegoeUI/Segoe UI'), local('SegoeUI'),
  url('/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SegoeUI.woff') format('woff'),
  url('/fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI-SemiBold.eot');
  src: local('/fonts/Segoe UI Semibold'), local('SegoeUI-SemiBold'),
  url('/fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SegoeUI-SemiBold.woff') format('woff'),
  url('/fonts/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


html, body {
  height: 100%;
}

body {
  min-height: 100%;
  background: #fff;

  body {
    &:before {
      display: none;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  &-relative {
    position: relative;
  }
}


.d-grid-c{
  display: grid;
}
// MAIN top tag
main {
  flex: 1 0 auto;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000;

  width: 100%;
  //min-width: 1000px;
  min-height: 100%;

  height: auto !important;
  height: 100%;
}


//SECTIONS
@import "slider";

#rentInCountries {
  h3 {
    text-align: center;
  }
}

#rentInCities {
  h3 {
    text-align: center;
  }
}

//IMG
.img-line {
  display: flex;

  figure {
    margin-right: 20px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      figcaption {
        background: #fff;
        color: #d5001c;
        font-weight: 600;
      }

    }

    .rent-price {
      display: none;
      height: 100% ;
              // height: calc(100% - 6px);
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

    }

    &:hover {
      .rent-price {
        color: #fff;
        display: flex;
        background: #0009;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        animation-duration: 0.6s;
        animation-name: flipInY;
      }
    }

    img {
      width: 100%;
      max-height: 222px;
      //max-width: 297px;
    }

    figcaption {
      position: absolute;
      z-index: 2;
      font-size: 1rem;
      margin: 0;
      bottom: 20px;
      width: 100%;
      padding-left: 10px;
      color: #fff;
      background: rgba(0, 0, 0, .6);

      &:before {
        content: "";
        display: inline-block;
        background: url("/images/svg/icon_asisst/arrow_right_red.svg") no-repeat;
        width: 14px;
        height: 14px;
        background-size: contain;
      }
    }
  }
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}


#advantages {
  background: #eff0f1;
  .card {
    background: #fff;
   /* outline: solid 1px #b9b9b9;*/
    padding: 30px 20px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 2px 0;
        background: #d5001c;
      }
    }

    &-header {
      background-color: #fff;
    }
  }
}


.d-grid-ravon {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 16px;
  .my-col-1{
    grid-column: 1 / 3;
    font-size: 17px;
    font-weight: 600;
  }
  .my-col-2{
    grid-column: 1 / -1;
  }
  .my-col-3{
    grid-column: -1 / -1;
  }
}


.section-title {
  &-center {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
}

#prefooter {
  font-size: 18px;
  font-weight: 300;

  span {
    color: #d5001c;
  }

}

.phone-box, .mail-box {
  margin-top: 10px;
}

.phone-box-title, .mail-box-title {
  font-size: 16px;
  color: #adadad;
  padding-bottom: 10px;
}

//FOOTER
@import "footer";









// to global components style

.mistake{
  color: #d5061c !important;
  background: #ffe5e5 !important;
  font-size: 12px;
  position: relative;
  z-index: 11;

  b{
    font-size: 14px;
  }
}


.page-item{
  .page-link{
    color: #d5061c;
  }

  &.active {
    .page-link{
      color: #fff;
      background-color: #d5061c;
      border-color: #d5061c;
    }
  }
}

.btn-primary {
  color: #fff;
  background-color: #2a4b6d;
  border-color: #2a4b6d;
}

.head-dark{
  background-color: #313131;
  color: #fff;
}

.head-blue{
  background-color: #2a4b6d;
  color: #fff;
}


.last-card{
  .ravon{
    min-height: calc(100% - 20px);
  }
}
#triggerId {
  border: solid 1px #ccc;
  border-radius: 0;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}


#contacts-block {
  .card {
    background-color: #eff0f1;

    &-title {
      font-size: 1.5rem;
    }
  }
  .card-body{
    a {
      transition: 0.8s;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #d5001c;
      }
    }
  }
}
.contacts{
   .card{
     height: 100%;
     background-color: #f5f5f5;

   }
}
.mappap-head{
  background-color: #d5001c;
}
.mappap-content{

}
.contacts-icon{
  &.phone{
    &:before {
      background-image: url(/images/svg/icon_asisst/phone.svg);

    }
  }
  &.adres{
    &:before {
      background-image: url(/images/svg/icon_asisst/pointer.svg);

    }
  }
  &.schedule{
    &:before {
      background-image: url(/images/svg/icon_asisst/clock.svg);

    }
  }
  &:before{
    content: '';
    width: 15px;
    height: 15px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin-right: 7px;
    vertical-align: middle;

  }
}

#mapid {
  height: 380px;
}
.leaflet-control-attribution.leaflet-control{
  display: none;
}
.leaflet-popup-content-wrapper {
   border-radius: 0;
  padding: 0;
}
.leaflet-popup-content{
  margin: 0;
}


.border_bottom {
  border-bottom: solid 1px #000;
  &-red{
    border-bottom: solid 1px #d5001c;
  }
}




// RAVON
 @import "ravon_card_car";



.part-car-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: space-evenly;

  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  &-line{
    //display: grid;

    .ravon-tail{
      //display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(0px, auto);
      grid-template-areas: "mg hd hd"  "mg serv pce"  "btn btn btn";
      //grid-template-areas: "mg hd hd" "mg serv pce";
      // grid-template-columns: 360px 1fr 5fr; // сервисы в столбике
      margin-bottom: 1rem;

      &-head{
        grid-area: hd;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &-img{
        grid-area:mg;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-services{
        grid-area: serv;
      }
      .price{
        grid-area: pce;
      }
      .btn, .add-serv{
        grid-area: btn;
      }
    }
  }

}
.ravon-tail {
  display: grid;
  background-color: #fff;
  transition: .3s;
  &:hover{
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.39);
    transform: scale(1.01);
  }
  img{
    max-width: 100%;
    max-height: 198px;
  }

  &-head{
    grid-template-areas: "A A" "B C" "B C";
    display: grid;
    position: relative;
    &-title{
      grid-area: A;
    }
    &-analog{
      color: #bbb;
      grid-area: B;
    }
    &-class{
      //grid-area: C;
      grid-area: A;
      text-align: right;
      bottom: -100%;
      color: #999;
    }
  }


  &.last-card{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    &:hover{
      svg{
        transition: 1s;
        transform: rotate(360deg);
        transform-origin: center
      }
    }
  }

  &-services {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    justify-items: center;
    align-items: center;
  }


  //icon-user
  &-icon {
    display: inline-flex;
    align-items: center;
    margin: 5px 10px;
    font-size: 14px;

    &:before {
      content: '';
      width: 18px;
      height: 18px;
      margin-right: 5px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &-user:before {
      background-image: url("/images/svg/icon_asisst/man.svg");
    }

    &-gaz:before {
      background-image: url("/images/svg/icon_asisst/gaz.svg");
    }

    &-snowflake:before {
      background-image: url("/images/svg/icon_asisst/snowflake.svg");
    }

    &-engine:before {
      background-image: url("/images/svg/icon_asisst/engine.svg");
    }

    &-transmission:before {
      background-image: url("/images/svg/icon_asisst/transmission.svg");
    }
  }
}

/*.fieldEmailSendPropose {
  width: 10%;
  background: #eee;

  position: absolute;
  right: 0;
  cursor: pointer;

  transition: 0.6s;

  &:hover{
      width: 100%;
  }
}*/

.as-link{
  cursor: pointer;
  text-decoration: underline;
  color: #d5061c;
  display: inline-block;
}


.reSelect{
  display: inline-block;
  height: 30px;
  position: absolute;
  left: 15px;
}


#ordered{
  .modal-body {
    justify-content: center;
    display: flex;
  }
}

.calendar-input-class, .time-input-class{
  padding-left: 40px;
}

.selectorCar .form-control.time-input-class{
 width: 98px;
}

.time-icon{
   position: relative;
   &:before{
     content: " ";
     display: block;
     width: 16px;
     height: 16px;
     position: absolute;
     top: 50%;
     margin-top: -8px;
     left: 10px;
     background: url(/images/svg/icon_asisst/clock.svg) no-repeat center center;
     background-size: cover;
     z-index: 11;
   }
 }

.calendar-icon{
  position: relative;
  &:before{
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 10px;
    background: url(/images/svg/icon_asisst/calendar.svg) no-repeat center center;
    background-size: cover;
    z-index: 11;
  }
}





//  city-describe

.city-describe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 10px;
}
.describe-left, .describe-right{
  img{
    max-width: 100%;
  }
}


.img-line-ravon{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px 10px;
}
.ilr.ravon.contain-card {
  img{
   max-width: 100%;
  }
  display: grid;
  grid-template-rows: auto 1fr;
}



 // languge

.error {
  color: #cc0000;
}

.el-scrollbar__view .el-select-dropdown__item.selected  {
  color: #cc0000;
}

.el-select-dropdown__item {
  color: #333;

  &:hover {
    text-decoration: none;
    color: #cc0000;
  }
  a {
    color: #333;

    &:hover {
      text-decoration: none;
      color: #cc0000;
    }
  }
}



.selectorCar .form-control {
  font-size: .9rem;
}



