#order-block{
  .ravon {
    &:hover {
      box-shadow: none;
    }
  }
}

#vaucher{
  background-color: #eff0f1;
  .ravon {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.23);
    order: 1;
    min-width: 25%;
  }
  .personal-data{
    order: 2;
  }
  .ravon-head{
    min-height: 56px;
  }
  .wrap-vaucher {
    background-color: #fff;
    margin-right: -15px;
  }
}


.personal-data, .ravon {
  font-size: 18px;
  flex-grow: 1;
}

.head-red {
  background-color: #d5001c;
  .col {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.125rem; // 18px

    > div {
      margin-bottom: 0.5rem;
    }

    &:nth-child(2n+2) {
      border-left: solid 1px #fff;
      border-right: solid 1px #fff;
    }
  }

}

.head-black{
  background-color: #313131;

  .col {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.125rem; // 18px

    > div {
      margin-bottom: 0.5rem;
    }

    &:nth-child(2n+2) {
      border-left: solid 1px #fff;
      border-right: solid 1px #fff;
    }
  }

}

.per-data {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  margin-bottom: 20px;

  label{
    &.line-b {
      &:hover {
        background-color: rgba(213, 6, 28, 0.15);
      }
    }
    cursor: pointer;
    transition: background-color 0.6s;
    margin: 0;
  }

  .form-group {
    flex-grow: 1;

    &:first-child {
      margin-right: 40px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  textarea {
    width: 100%;
    resize: none;
    overflow-x: auto;
    height: calc(100% - 43px);
    margin-bottom: 0;
  }

  .line-b {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .total {
    .per-data-title {
      text-align: right;
      margin-right: 30px;
      font-size: 16px;
    }

    .per-data-price {
      font-size: 36px;
      font-weight: 600;
      margin-right: 0;
    }
  }

  &-title {
    flex-grow: 1;
  }

  &-price {
    font-size: 24px;
  }
  &-head-dark{
    padding: 10px 30px;
    @extend .head-dark;
  }
}


//check boks
.contain {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 0;
  line-height: normal;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .checkmark {
    background-color: #d5061c;

    &:after {
      display: block;
    }
  }


  .checkmark {
    position: relative;
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 5px;
    outline: solid 1px #b9b9b9;
    transition: .7s;

    &:after {
      content: "";
      position: absolute;
      display: none;

      width: 8px;
      left: 50%;
      margin-left: -4px;
      height: 12px;
      top: 50%;
      margin-top: -8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}



