


.ravon {
  background-color: #fff;
  flex: 1;
  transition: box-shadow .3s;


  &:hover{
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.23);
  }
  &-param {
    margin-bottom: 30px;
    border-bottom: solid 1px #d5061c;

    .row {
      padding: 10px 0;
    }
  }

  &-img {
    text-align: center;
    padding: 20px 0;

    display: flex;
    //align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      min-width: 100%;
      object-fit: contain;
    }
  }

  &-list{
    margin-top: 10px;
    flex-wrap: wrap;
    .ravon-head-red-border-under{
      min-height: auto;
    }
    .ravon-services{
      flex-direction: column;
      max-height: 100px;
    }
    .ravon-img{
      //align-items: baseline;
      img{
        width: 100%;
      }
    }
    .price-big{
      font-size: 2.25rem;
      font-weight: 600;
      font-style: normal;
    }
    .ito-price{
      font-size: 1rem;
      font-weight: 300;
      font-style: normal;
    }

    .logo-car{
      img{
        max-height: 69px;
      }
    }
  }

  /*  &:hover{
      transition: .8s;
      box-shadow: 0 0 14px rgba(0,0,0,.23);
    }*/
  .head-dark{
    background-color: #313131;
    padding: 10px 30px;
    color: #fff;
    border-bottom: none;
  }
  &-head-red-border-under {
    border-bottom: solid 1px #d5001c;
  }


  &-head {
/*    padding: 10px;
    color: inherit;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 120px;
    position: relative;*/

    h4 {
      order: 1;
      flex: 1 1 100%;
      display: inline-block;
      /*text-transform: uppercase;*/
    }

    span {
      order: 2;
      display: inline-block;
      color: #b9b9b9;
      font-size: 16px;
    }
  }

  &-type {
    order: 3;
    flex-grow: 1;
    text-align: right;
  }


  &-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  //icon-user
  &-icon {
    display: inline-flex;
    align-items: center;
    margin: 5px 10px;
    font-size: 14px;

    &:before {
      content: '';
      width: 18px;
      height: 18px;
      margin-right: 5px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &-user:before {
      background-image: url("/images/svg/icon_asisst/man.svg");
    }

    &-gaz:before {
      background-image: url("/images/svg/icon_asisst/gaz.svg");
    }

    &-snowflake:before {
      background-image: url("/images/svg/icon_asisst/snowflake.svg");
    }

    &-engine:before {
      background-image: url("/images/svg/icon_asisst/engine.svg");
    }

    &-transmission:before {
      background-image: url("/images/svg/icon_asisst/transmission.svg");
    }
  }

}

