#ordered {
  background-color: #eff0f1;
}

.price-info{
  min-height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.page_order {
  display: flex;
  display: grid;
  display: grid;
  grid-template-columns: 285px 1fr;
  //max-width: 1604px;
  margin: 0 auto;
  padding: 0;

  flex-direction: row;
  justify-content: space-between;

  .selectorCar {
    position: relative;
    top: 0;
    left: 0;
  }
  .dropdown {
    flex: auto;
    text-align: right;
  }
}

/*.boxshadow {
  box-shadow: 0 0 14px rgba(0, 0, 0, .23);
}*/

.filter-box {
  height: auto;
  padding: 5px 10px 10px;
  background: #ffffffd9;
}

ul.check-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: block;
    margin-top: 1rem;
    vertical-align: middle;
    line-height: normal;
  }

  .check-list-add{
    font-size: 14px;
    font-weight: 300;
    color: #2a4b6d;
    cursor: pointer;
  }
}


.container{
  &-sidebar {
    position: relative;
    max-width: 285px;
    width: 100%;
    text-align: left;
    flex-grow: 1;
    order: 1;
    //padding-top: 48px;
  }

  &-page {
    width: 100%;
    position: relative;
    min-height: 450px;
    flex-grow: 1;
    order: 2;

    padding-right: 15px;
    //padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

