
#slider {
  img {
    margin: 0 auto;
    width: 100%;
    // max-height: 680px;
  }
  .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .carousel-caption-wrap{
     
  }
  .txt-prime {
    top: 10%;
    margin-left: 22%;
    text-align: left;

    h1{
      font-size: 48px;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
     

      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        left: -32px;
        top: 15px;
        width: 18px;
        height: 32px;
        background: url("/images/svg/icon_asisst/arrow_right_red.svg") no-repeat center center;
        background-size: cover;
      }
    }
    h3{
      font-size: 36px;
    }
  }

}

.selectorCar {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 100;
  //max-width: 320px;
  max-width: 255px;

  height: auto;
  padding: 5px 10px 10px;
  background: #ffffffd9;

  .box-title {
    color: #cc0000;
    border-bottom: dashed 1px #b9b9b9;
    font-size: 18px;
    padding: 0 0 10px;
  }

  .form-group {
    margin: 22px 0 0;
  }

  .form-control {
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    border: solid 1px #DCDFE6;
    //text-align: center;
  }
  .option-default{
    background-color: #f0f;
  }

  .form-checkbox {
    margin-bottom: 10px;
  }

  .calendar {

    &:after {
      background-image: url(/images/svg/icon_asisst/calendar.svg);
    }
  }

  .clock {

    &:after {
      background-image: url(/images/svg/icon_asisst/clock.svg);
    }
  }

  .calendar, .clock {
    position: relative;

    input {
      padding-left: 28px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 8px;
      top: 0;
      width: 14px;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

  }
}

