<template>

  <div class="container-page">
    <FlashMessage></FlashMessage>
    <div class="d-flex flex-wrap justify-content-between  mt-3">
      <div class="m-2 m-sm-2 mb-md-2 mt-md-0 mr-md-0  ml-auto">
        <h1 class="pr-3" >
          <span v-if="countryLang === 'ru'">Прокат авто</span>
          <span v-else-if="countryLang === 'ua'">Прокат авто</span>
          <span v-else-if="countryLang === 'en'">Rent a car in </span>
          {{topTitle}}
        </h1>
      </div>
      <div class="dropdown  m-2 m-sm-2 mb-md-2 mt-md-0 mr-md-0 mr-auto  mobi-v-none">

        <sort></sort>

        <div class="btn-group">
          <button id="liste" type="button" class="btn btn-default d-none d-lg-block"
                  @click="showAsList = true">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
              <path
                d="M15.2 0H5.73a.8.8 0 0 0-.8.8v1.6a.8.8 0 0 0 .8.8h9.47a.8.8 0 0 0 .8-.8V.8a.8.8 0 0 0-.8-.8zm0 6.4H5.73a.8.8 0 0 0-.8.8v1.6a.8.8 0 0 0 .8.8h9.47a.8.8 0 0 0 .8-.8V7.2a.8.8 0 0 0-.8-.8zm0 6.4H5.73a.8.8 0 0 0-.8.8v1.6a.8.8 0 0 0 .8.8h9.47a.8.8 0 0 0 .8-.8v-1.6a.8.8 0 0 0-.8-.8zM2.4 0H.8a.8.8 0 0 0-.8.8v1.6a.8.8 0 0 0 .8.8h1.6a.8.8 0 0 0 .8-.8V.8a.8.8 0 0 0-.8-.8zm0 6.4H.8a.8.8 0 0 0-.8.8v1.6a.8.8 0 0 0 .8.8h1.6a.8.8 0 0 0 .8-.8V7.2a.8.8 0 0 0-.8-.8zm0 6.4H.8a.8.8 0 0 0-.8.8v1.6a.8.8 0 0 0 .8.8h1.6a.8.8 0 0 0 .8-.8v-1.6a.8.8 0 0 0-.8-.8z"
                fill-rule="evenodd"/>
            </svg>
          </button>
          <button id="tile" type="button" class="btn btn-default d-none d-lg-block"
                  @click="showAsList = false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
              <path
                d="M4.44.09H.53A.53.53 0 0 0 0 .62v3.91a.53.53 0 0 0 .53.53h3.91a.53.53 0 0 0 .53-.53V.62a.54.54 0 0 0-.53-.53zm0 5.38H.53A.53.53 0 0 0 0 6v3.91a.53.53 0 0 0 .53.53h3.91a.53.53 0 0 0 .53-.53V6a.54.54 0 0 0-.53-.53zm0 5.56H.53a.53.53 0 0 0-.53.52v3.92a.53.53 0 0 0 .53.52h3.91a.53.53 0 0 0 .53-.52v-3.92a.53.53 0 0 0-.53-.52zM9.95 0H6.04a.53.53 0 0 0-.52.53v3.91a.53.53 0 0 0 .52.53h3.91a.53.53 0 0 0 .53-.53V.53A.53.53 0 0 0 9.95 0zm0 5.38H6.04a.52.52 0 0 0-.52.53v3.91a.52.52 0 0 0 .52.52h3.91a.53.53 0 0 0 .53-.52V5.91a.53.53 0 0 0-.53-.53zm0 5.56H6.04a.52.52 0 0 0-.52.52v3.92a.52.52 0 0 0 .52.52h3.91a.53.53 0 0 0 .53-.52v-3.92a.53.53 0 0 0-.53-.52zM15.47 0h-3.91a.53.53 0 0 0-.53.53v3.91a.53.53 0 0 0 .53.53h3.91a.53.53 0 0 0 .52-.53V.53a.53.53 0 0 0-.52-.53zm0 5.38h-3.91a.53.53 0 0 0-.53.53v3.91a.53.53 0 0 0 .53.53h3.91a.53.53 0 0 0 .52-.53V5.91a.53.53 0 0 0-.52-.53zm0 5.56h-3.91a.53.53 0 0 0-.53.52v3.92a.53.53 0 0 0 .53.52h3.91a.52.52 0 0 0 .52-.52v-3.92a.52.52 0 0 0-.52-.52z"
                fill-rule="evenodd"/>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="mb-2" v-bind:class="{ 'part-car-wrapper-line': showAsList, 'part-car-wrapper': !showAsList }">


      <part-car v-for="(car, key, index) in cars"
                :show="showAsList"
                :car="car"
                :intervals="intervals"
                :key=index
                :diff-days="diffDays"
                :day-var="dayVar"
      ></part-car>

      <template v-if=" Object.keys(cars).length > 50 ">
        <div class="ravon-tail last-card p-3" @click="addNcards">
          <div class="text-center mt-auto">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 280" width="70%" fill="#b9b9b9">
              <path
                d="M236.6 238.58a137.16 137.16 0 0 0 40.11-106.91c-15.43.13-30.85.21-46.28.35a91.37 91.37 0 0 1-26.48 74.01 92.21 92.21 0 1 1-17.23-143.5c-12.06 11.87-26.25 25.92-26.25 25.92-10.21 10.8.17 17.96 7.05 18h90.16a6.23 6.23 0 0 0 6.24-6.22V11.18c.42-8.39-8.83-16.19-17.93-7.12l-25.87 25.52C165.93-9.87 89.56-5.39 40.61 43.35a137.65 137.65 0 0 0 0 195.23c54.11 53.89 141.87 53.89 195.99 0z"
                fill-rule="evenodd"/>
            </svg>
          </div>

          <div class="text-center pt-5 pb-5">
            <h2>Показать еще {{Object.keys(cars).length}} автомобиля</h2>
          </div>

        </div>
      </template>

    </div>


    <div class="wrapperPagination" v-if="cars.length > 15 ">
      <Paginator :cars="cars"></Paginator>
    </div>
  </div>


</template>

<script>
    import {eventBus} from "../app";
    import Paginator from "./unit/partPagination";

    import Vue from 'vue'
    import FlashMessage from '@smartweb/vue-flash-message';
    Vue.use(FlashMessage);
    const moment = require('moment');
    require('moment/locale/ru');

    Vue.use(require('vue-moment'), {
        moment
    });


    export default {
        props: [
            'carsProp',
            'carsNumber',
            'intervals',
            'countryCity',
            'countryLang',
        ],

        components: {
            Paginator
        },

    data() {
      return {
        cars: [],
        showAsList: '',
        errors: [],
        carsAfterFiltration: [],
        diffDays: localStorage.diffDays ? localStorage.diffDays : '',
        dayVar: localStorage.dayVar ? localStorage.dayVar : '',
        // предзагрузка карточек
        nCards: [],
        counter: 0,
        topTitle: 'Украина'
      };
    },

        methods: {

            objectSize: function (obj) {
                var size = 0, key;
                for (key in obj) {
                    if (obj.hasOwnProperty(key)) size++;
                }
                return size;
            },

            getFilteredCars: function () {
                let carsAfterSearchForm = JSON.parse(localStorage.cars);
                let carsAfterFiltration = JSON.parse(localStorage.carsAfterFiltration);
                let carsResulted = [];

                Object.entries(carsAfterSearchForm).forEach(entry => {
                    let carAfterSearchForm = entry[1];
                    Object.entries(carsAfterFiltration).forEach(entry => {
                        let carAfterFiltration = entry[1];
                        if (carAfterSearchForm.id == carAfterFiltration.id)
                            carsResulted.push(carAfterSearchForm)
                    });
                });
                return carsResulted;
            },

          addNcards() {
            this.counter += 5;
            // nCards.allCards = this.carsthis.carsthis.carsthis.cars
            var aldList = document.querySelectorAll('.ravon-tail');
            // console.log('--------e', Object.prototype.toString.call(this.cars), '--------nCards', this.cars);
            // console.log('--------cars--', Object.prototype.toString.call(this.cars),  this.counter );
            /* if (Object.keys(this.cars).length > 10) {
               console.log('--------cars--', Object.prototype.toString.call(this.cars),  this.counter );
               return  this.nCards = this.cars[this.counter]
             }*/
            // console.log(this.nCards, '---------', this.nCards.length);
            /*for( var item in this.cars ){
              this.nCards.push(this.cars[this.counter])
            }*/

            for (var i = 0; i <= this.counter; i += 1) {
              this.nCards.push(this.cars[i])
            }

            //console.log(this.nCards, '---------', this.nCards.length);
          },

        },

        watch: {
            showAsList: function () {
                //console.log(this.$children);
                if (this.showAsList) {
                    liste.style.fill = "#d5001c";
                    tile.style.fill = "#000";
                } else {
                    liste.style.fill = "#000";
                    tile.style.fill = "#d5001c";
                }
                setTimeout(() => {
                    eventBus.$emit('updateFormParamsFromTileOrLine', this.params);
                }, 150);
            }
        },

        mounted() {
                localStorage.cars = JSON.stringify(this.carsProp);
                this.cars = JSON.parse(localStorage.cars);
                tile.style.fill = "#d5001c";

                 this.topTitle =  this.countryCity;
        },
        created() {

            eventBus.$on('updateCarsAfterFiltration', () => {
                this.cars = this.getFilteredCars();
                this.errors = localStorage.errors;
                this.diffDays = localStorage.diffDays ? localStorage.diffDays : '';
                this.dayVar =  localStorage.dayVar ? localStorage.dayVar : '';
            });

            eventBus.$on('updateCarsAfterSearchForm', () => {
                this.cars = JSON.parse(localStorage.cars);
                this.errors = localStorage.errors;
                this.diffDays = localStorage.diffDays ? localStorage.diffDays : '';
                this.dayVar = localStorage.dayVar ? localStorage.dayVar : '';
            }),

            eventBus.$on('showInfoMessage', (data) => {
                this.flashMessage.info({time: 5000,title: 'Предложение', message: 'Предложение отправлено на email ' + data});
            })
        }
    }
</script>
