<template>
    <div class="container contacts-wrapper">
        <div class="map-wrapper">
            <div class="card-header head-black head-red text-white p-1">
                <div class="container">
                    <span v-if="locale == 'en'" class="card-title">{{ $t('form.our_offices_in')}} {{country.name_country_en}}</span>
                    <span v-if="locale == 'ru'" class="card-title">{{ $t('form.our_offices_in')}} {{country.name_country_ru}}</span>
                    <span v-if="locale == 'ua'" class="card-title">{{ $t('form.our_offices_in')}} {{country.name_country}}</span>
                </div>
            </div>

            <template>
                <div id="mapid"></div>
            </template>


            <div class="card-header head-black head-red text-white mb-3 p-1">
                <div class="container">
                    <span class="card-title">Поддержка 24/7</span>
                    <span class="card-title"> (67) 780 86 99</span>
                </div>
            </div>
        </div>
        <div class="container contacts">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3 mb-4" v-for="(map, item) in mapParam" :key="map.id">
                    <div class="card ravon" @click="onCard($event.elId = item)">
                        <div class="card-header text-white  pl-3 pr-3" :class="classObject">
                            <span class="card-title">{{map.place}}</span>
                        </div>
                        <div class="card-body pl-3 pr-3">
                            <p>
                                <i>{{ $t('form.adres')}}: </i>
                                {{map.place_adress}}
                            </p>
                            <p>
                                <i>{{ $t('form.phone')}}:</i>
                                <a :href=map.phone2 >{{map.phone2 | mobilephon}}</a> (круглосуточно)
                            </p>
                            <p>
                                <i>{{ $t('form.email')}}:</i>
                                <a href="mailto:zakaz@lion-avtoprokat.com.ua">{{map.mail}}</a>
                            </p>

                            <!--<p>
                                <span>Skype:</span>
                                <a :href=map.skype>{{map.skype}}</a>
                            </p>-->

                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
</template>

<script>

    export default {
        name: "contacts-page",
        props: {
            country: {},
            offices: {
                type: Array,
                default: function () {
                    console.log('====')
                    return {
                        GMT:"+02:00",
                        country_id:1,
                        ico:"✈",
                        id:122,
                        latitude:"49.241839",
                        leafletObject:11111111111,
                        longitude:"28.605931",
                        mail:"info@race.net.ua",
                        phone1:"(+38) 067-644-6-555",
                        phone1_viber:1,
                        phone1_whatsapp:1,
                        phone2:"+38) 056-373-73-73",
                        phone2_viber:0,
                        phone2_whatsapp:0,
                        phone3:"0",
                        phone3_viber:0,
                        phone3_whatsapp:0,
                        place:"Вінниця",
                        place_adress:"Т0231, 11Вінниця, Україна",
                        place_adress_en:"T0231, Vinnica, Ukraine",
                        place_adress_ge:"",
                        place_adress_ru:"Т0231, 11Винница, Украина",
                        place_descr:"Вінниця",
                        place_descr_en:"Vinnica",
                        place_descr_ge:"",
                        place_descr_ru:"Винница ",
                        place_en:"Vinnica",
                        place_ge:"",
                        place_ru:"Винница",
                        region:1000001,
                        regions_id:8,
                        skype:"race-ukraine",
                        type:0
                    };
                }
            },
        },
        data() {
            return {
                locale: document.documentElement.lang.substr(0, 2),
                mapParam: [],
                classHeaderBleck: false,
                classHeaderRed: false,
                mapid: null,
                markers: null,
                elId: 0
            };
        },

        watch: {
            elId: function () {
             //   console.log('----watch', this.elId)
            }
        },

        computed: {
            classObject() {
                return {
                    'head-red': this.classHeaderRed,
                    'head-black': this.classHeaderBleck,
                };
            }
        },

        filters: {
            mobilephon: function (value) {
                if (!value) return '';
                //value = value.slice(5);
                return value;
            }
        },

        mounted() {
            this.initMap();
            this.initMarkers();
            this.mapParam = this.offices;
            console.log('!!!!!!!!!', this.offices);
            this.classHeaderBleck = true;
        },

        methods: {
            initMap() {
                if(this.offices){
                    this.mapid = L.map('mapid').setView(["49.241839", "28.605931"], 5);
                    this.tileLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                        attribution: false,
                        maxZoom: 18,
                        id: 'mapbox.streets',
                        accessToken: 'pk.eyJ1IjoibXZpayIsImEiOiJjanRqeHZ2NWgyczgyNGJ0ZnBycDcwZHRuIn0.D3K4MgxHD7yy0QYxjb9Ntg'
                    }).addTo(this.mapid);
                }else {
                    this.mapid = L.map('mapid').setView([this.offices[0].latitude, this.offices[0].longitude], 5);

                    this.tileLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                        attribution: false,
                        maxZoom: 18,
                        id: 'mapbox.streets',
                        accessToken: 'pk.eyJ1IjoibXZpayIsImEiOiJjanRqeHZ2NWgyczgyNGJ0ZnBycDcwZHRuIn0.D3K4MgxHD7yy0QYxjb9Ntg'
                    }).addTo(this.mapid);
                }

            },


            initMarkers() {

                var leonAutoIcon = new L.Icon({
                    iconUrl: '/images/svg/L.svg',
                    iconSize: [26, 40],
                    iconAnchor: [13, 0],
                });

                this.mapParam =  this.offices;


                this.mapParam.forEach((feature) => {
                    feature.leafletObject = L.marker(feature.coords, {icon: leonAutoIcon} ).on('click', this.LisentClick);
                    if(feature.latitude && feature.longitude) {
                        let arr = [ parseFloat(feature.latitude), parseFloat(feature.longitude)];
                        feature.leafletObject
                            .setLatLng(arr)
                            .bindPopup(`<div class="mappap-head text-center text-white" >
                                        <h5>${feature.place}</h5>
                                      </div>
                                      <div class="mappap-content p-3">
                                        <p class="contacts-icon adres mt-0">${feature.place_adress}</p>
                                        <p class="contacts-icon phone">${feature.phone1}</p>
                                        <p class="contacts-icon schedule mb-0">(круглосуточно)</p>
                                      </div>`).addTo(this.mapid).openPopup();
                    } else {
                        return false;
                        feature.leafletObject.bindPopup(`<div class="mappap-head text-center text-white" >
                                        <h5>${feature.place}</h5>
                                      </div>
                                      <div class="mappap-content p-3">
                                        <p class="contacts-icon adres mt-0">${feature.place_adress}</p>
                                        <p class="contacts-icon phone">${feature.phone1}</p>
                                        <p class="contacts-icon schedule mb-0">(круглосуточно)</p>
                                      </div>`);
                    }
                    feature.leafletObject.addTo(this.mapid);
                });
            },

            LisentClick(el) {
               // console.log('---LisentClick', this )
            },

            onCard(el) {
                //console.log('Клик по карточке---elId',  this.mapParam[el]);
                this.mapid.setView(new L.LatLng(this.mapParam[el].latitude, this.mapParam[el].longitude), 12);
                for(var i=0; i<=this.$el.querySelectorAll('.card').length-1; i+=1){
                    //console.log('====---', this.$el.querySelectorAll('.card')[i].firstChild.classList);
                    if(this.$el.querySelectorAll('.card')[i].firstChild.classList.contains("head-red")) {
                        this.$el.querySelectorAll('.card')[i].firstChild.classList.add("head-black");
                        this.$el.querySelectorAll('.card')[i].firstChild.classList.remove("head-red")
                    }
                }
                var noda = this.$el.querySelectorAll('.card')[+el];
                noda.firstChild.classList.remove("head-black");
                noda.firstChild.classList.add("head-red");
            }
        }
    }
</script>

<style scoped>
    .vue2leaflet-map {
        height: 480px;
    }
</style>
