<template>
    <div class="container container-relative pt-3 mb-md-3" id="accordionFilter">
        <template>
            <el-tabs :tab-position="tabPosition">
                <el-tab-pane :label=" $t('filters.class')">
                    <div class="filter-box" id="collapseOne1">
                        <ul class="check-list">
                            <li>
                                <label class="contain">
                                    <input @click="checkAllClasses()" v-model="classesFilterAll" type="checkbox"/>
                                    <span class="checkmark"></span>
                                    {{ $t('filters.all_classes')}}
                                </label>
                            </li>
                            <li v-for="(autoClass, classId) in filters.classes"  >

                                <label class="contain" :class="{disabled:  (classesCounter[classId] == 0) && (!mainFilter.classes) }">
                                    <input :disabled="(classesCounter[classId] == 0) && (!mainFilter.classes)" type="checkbox" :value="classId" v-model="classesFilter" />
                                    <span class="checkmark"></span>
                                    <el-badge v-if="!mainFilter.classes" :value=classesCounter[classId]  class="item" type="info">
                                        {{autoClass}}
                                    </el-badge>

                                    <el-badge v-if="mainFilter.classes" :value= "!classesFilter.includes(classId) ?  '+'+classesCounterWithoutFiltering[classId] : classesCounter[classId] "  class="item" type="info">
                                        {{autoClass}}
                                    </el-badge>
                                </label>
                             <!--   <div>
                                    <span v-if="!mainFilter.classes">{{autoClass}} ({{classesCounter[classId]}})</span>
                                    <span v-if="mainFilter.classes">{{autoClass}} (<span v-if="!classesFilter.includes(classId)">+</span>{{classesCounterWithoutFiltering[classId]}})</span>
                                </div>-->
                            </li>
                        </ul>
                    </div>
                </el-tab-pane>

                <el-tab-pane :label="$t('filters.transmission')">
                    <div class="filter-box " id="collapseOne3" >
                        <ul class="check-list">
                            <li>
                                <label class="contain">
                                    <input @click="checkAllTranses()" v-model="transesFilterAll" type="checkbox"/>
                                    <span class="checkmark"></span>
                                    {{ $t('filters.all_transes')}}
                                </label>
                            </li>
                            <li v-for="(autoTrans, transId) in filters.transes" >
                                <label class="contain"  :class="{'disabled':  (transesCounter[transId] == 0) && (!mainFilter.transes) }">
                                    <input :disabled="(transesCounter[transId] == 0) && (!mainFilter.transes)" type="checkbox" :value="transId" v-model="transesFilter"/>

                                  <span class="checkmark"></span>
                                  <el-badge v-if="!mainFilter.transes" :value=transesCounter[transId]  class="item" type="info">
                                    {{autoTrans}}
                                  </el-badge>

                                  <el-badge v-if="mainFilter.transes" :value= "!transesFilter.includes(transId) ?  '+'+transesCounterWithoutFiltering[transId] : transesCounter[transId] "  class="item" type="info">
                                    {{autoTrans}}
                                  </el-badge>
                                  <!--<hr
                                    <span class="checkmark"></span>
                                    <span v-if="!mainFilter.transes">{{autoTrans}} ({{transesCounter[transId]}})</span>
                                    <span v-if="mainFilter.transes">{{autoTrans}} (<span  v-if="!transesFilter.includes(transId)">+</span>{{transesCounterWithoutFiltering[transId]}})</span>>-->
                                </label>
                            </li>
                        </ul>
                    </div>
                </el-tab-pane>

                <el-tab-pane :label="$t('filters.brand')" >
                    <div class="filter-box " id="collapseOne2" >
                        <ul class="check-list">
                            <li class="contain">
                                <input type="checkbox" @click="checkAllBrands()" v-model="brandsFilterAll"/>
                                <span class="checkmark"></span>
                                {{ $t('filters.all_brands')}}
                            </li>
                            <li v-for="(item, itemId) in carBrands">
                                <label class="contain" :class="{'disabled':  (brandsCounter[itemId] == 0) && (!mainFilter.brands) }">
                                    <input :disabled="(brandsCounter[itemId] == 0) && (!mainFilter.brands)" type="checkbox"
                                           :value="itemId" v-model="brandsFilter"/>
                                    <span class="checkmark"></span>

                                  <el-badge v-if="!mainFilter.brands" :value=brandsCounter[itemId]  class="item" type="info">
                                    {{item}}
                                  </el-badge>

                                  <el-badge v-if="mainFilter.brands" :value= "!brandsFilter.includes(itemId) ?  '+'+brandsCounterWithoutFiltering[itemId] : brandsCounter[itemId] "  class="item" type="info">
                                    {{item}}
                                  </el-badge>
                                 <!-- <hr>
                                    <span v-if="!mainFilter.brands">{{item}} ({{brandsCounter[itemId]}})</span>
                                    <span v-if="mainFilter.brands">{{item}}  (<span  v-if="!brandsFilter.includes(itemId)">+</span>{{brandsCounterWithoutFiltering[itemId]}})</span>-->
                                </label>
                            </li>
                        </ul>
                    </div>

                </el-tab-pane>
                <el-tab-pane :label="$t('filters.fuel')"  >
                    <div class="filter-box " id="collapseOne4" >
                        <ul class="check-list">
                            <li>
                                <label class="contain">
                                    <input @click="checkAllFuels()" v-model="fuelsFilterAll" type="checkbox">
                                    <span class="checkmark"></span>
                                    {{ $t('filters.all_fuels')}}
                                </label>
                            </li>
                            <li v-for="(autoFuel, fuelId) in filters.fuels">
                                <label class="contain" :class="{'disabled':  (fuelsCounter[fuelId] == 0) && (!mainFilter.fuels) }">
                                    <input :disabled="(fuelsCounter[fuelId] == 0) && (!mainFilter.fuels)" type="checkbox"
                                           :value="fuelId" v-model="fuelsFilter">
                                    <span class="checkmark"></span>
                                  <el-badge v-if="!mainFilter.fuels" :value=fuelsCounter[fuelId]  class="item" type="info">
                                    {{autoFuel}}
                                  </el-badge>

                                  <el-badge v-if="mainFilter.fuels" :value= "!fuelsFilter.includes(fuelId) ?  '+'+fuelsCounterWithoutFiltering[fuelId] : fuelsCounter[fuelId] "  class="item" type="info">
                                    {{autoFuel}}
                                  </el-badge>
                                    <!--<span v-if="(!mainFilter.fuels)">{{autoFuel}} ({{fuelsCounter[fuelId]}})</span>
                                    <span v-if="mainFilter.fuels">{{autoFuel}} (<span
                                            v-if="!fuelsFilter.includes(fuelId)">+</span>{{fuelsCounterWithoutFiltering[fuelId]}})</span>-->
                                </label>
                            </li>
                        </ul>
                    </div>
                </el-tab-pane>
          <!--      <el-tab-pane label="add">
                    <button class="btn dropdown-toggle mt-2 " type="button" id="triggerId" data-toggle="dropdown">
                        от дорогих к дешевым
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="#">от дешевых к дорогим</a>
                        <a class="dropdown-item" href="#">по популярности</a>
                    </div>

                    <el-button type="primary" icon="el-icon-s-operation">фильтр поиска</el-button>

                </el-tab-pane>-->
            </el-tabs>


        </template>








    </div>
</template>

<script>
    import {eventBus} from "../app";
    import Vue from 'vue'
    import Element from 'element-ui'
    import ElementUI from 'element-ui';
    import 'element-ui/lib/theme-chalk/index.css';
    Vue.use(ElementUI);
    export default {
        props: {
            filtersProp: {},
            carsProp: {},
        },
        components: {
        },

        data() {
            return {
                tabPosition: 'top',
                cars: [],
                newCars: [],
                filters: {},
                carsAfterFiltration: [],
                carsAfterFiltrationByClass: [],
                carsAfterFiltrationByBrand: [],
                carsAfterFiltrationByTrans: [],
                carsAfterFiltrationByFuel: [],

                carBrands: [],

                classesFilter: [],
                classesFilterAll: true,
                classesCounter: [],
                classesCounterWithoutFiltering: [],

                brandsFilter: [],
                brandsFilterAll: true,
                brandsCounter: [],
                brandsCounterWithoutFiltering: [],

                transesFilter: [],
                transesFilterAll: true,
                transesCounter: [],
                transesCounterWithoutFiltering: [],

                fuelsFilter: [],
                fuelsFilterAll: true,
                fuelsCounter: [],
                fuelsCounterWithoutFiltering: [],

                mainFilter: {
                    classes: false,
                    brands: false,
                    transes: false,
                    fuels: false,
                },

                showFilters: true,
                params: {},
                formParams: {},


                // скрывать/показывать фильтры
                disabled: false,
                filterClassAvto: false,
            };
        },

        methods: {
            showFilters1(el){
                accordionFilter.querySelectorAll('.filter-box.collapse').forEach((item) => {
                    let param = item.parentElement.classList.contains('active');
                    if (!param) {
                        item.classList.remove('show');
                    }
                });
                el.currentTarget.parentElement.querySelector('.filter-box.collapse').classList.add('show');
            }, //сворачивает/разворачивает фильтры

            createMainBrandsArray: function (carsArray) {
                this.carBrands = [];
                this.brandsCounter = [];
                for (var key in carsArray) {
                    let item = carsArray[key].brand;
                    if (!this.carBrands.includes(item)) {
                        this.carBrands.push(item);
                        this.brandsCounter[item] = 1;
                    } else {
                        this.brandsCounter[item] += 1;
                    }
                }
                this.carBrands = this.carBrands.sort();
            },

            createBrandsCounts: function (carsArray) {
                this.brandsCounter = [];
                for (var brandKey in this.carBrands) {
                    this.brandsCounter[brandKey] = 0;
                    for (var carKey in carsArray) {
                        if (carsArray[carKey].brand == this.carBrands[brandKey])
                            this.brandsCounter[brandKey] += 1;
                    }
                }
                return this.brandsCounter;

            },

            createClassesCounts: function (carsArray) {
                this.classesCounter = [];
                for (var classKey in this.filters.classes) {
                    this.classesCounter[classKey] = 0;
                    for (var carKey in carsArray) {
                        if (carsArray[carKey].class_id == classKey)
                            this.classesCounter[classKey] += 1;
                    }
                }
                return this.classesCounter;
            },

            createTransesCounts: function (carsArray) {
                this.transesCounter = [];
                for (var transKey in this.filters.transes) {
                    this.transesCounter[transKey] = 0;
                    for (var carKey in carsArray) {
                        if (carsArray[carKey].trans_id == transKey)
                            this.transesCounter[transKey] += 1;
                    }
                }
                return this.transesCounter;
            },

            createFuelsCounts: function (carsArray) {
                this.fuelsCounter = [];
                for (var fuelsKey in this.filters.fuels) {
                    this.fuelsCounter[fuelsKey] = 0;
                    for (var carKey in carsArray) {
                        if (carsArray[carKey].fuel_id == fuelsKey)
                            this.fuelsCounter[fuelsKey] += 1;
                    }
                }
                return this.fuelsCounter;
            },
///////////////////////////////////////////////////////////////
            checkAllClasses: function () {
                this.classesFilterAll = !this.classesFilterAll;
                this.classesFilter = [];
            },
            classesFilterChanged: function () {
                if(this.classesFilter.length == Object.keys(this.filters.classes).length){
                    this.classesFilterAll = true;
                }else{
                    this.classesFilterAll = false;
                }
                if (this.classesFilter.length == 0){
                    this.classesFilterAll = true;
                    this.mainFilter.classes = false;
                }else{
                    if (!this.mainFilter.brands && !this.mainFilter.transes && !this.mainFilter.fuels){
                        this.mainFilter.classes = true;
                    }
                }
                this.makeFiltration();
//                eventBus.$emit('updateCars', this.carsAfterFiltration);
//                setTimeout(() => {this.updateFormParamsFromFilters(this.params);}, 150);

            },
////////////////////////////////////////////////////////////////
            checkAllBrands: function () {
                this.brandsFilterAll = !this.brandsFilterAll;
                this.brandsFilter = [];
            },
            brandsFilterChanged: function () {
                if(this.brandsFilter.length == Object.keys(this.carBrands).length){
                    this.brandsFilterAll = true;
                }else{
                    this.brandsFilterAll = false;
                }
                if (this.brandsFilter.length == 0){
                    this.brandsFilterAll = true;
                    this.mainFilter.brands = false;
                }else{
                    if (!this.mainFilter.classes && !this.mainFilter.transes && !this.mainFilter.fuels){
                        this.mainFilter.brands = true;
                    }
                }
                this.makeFiltration();
//                eventBus.$emit('updateCars', this.carsAfterFiltration);
//                setTimeout(() => {this.updateFormParamsFromFilters(this.params);}, 150);
            },
///////////////////////////////////////////////////////////////////////
            checkAllTranses: function () {
                this.transesFilterAll = !this.transesFilterAll;
                this.transesFilter = [];
            },
            transesFilterChanged: function () {
                if(this.transesFilter.length == this.filters.transes.length){
                    this.transesFilterAll = true;
                }else{
                    this.transesFilterAll = false;
                }
                if (this.transesFilter.length == 0){
                    this.transesFilterAll = true;
                    this.mainFilter.transes = false;
                }else{
                    if (!this.mainFilter.classes && !this.mainFilter.brands && !this.mainFilter.fuels){
                        this.mainFilter.transes = true;
                    }
                }
                this.makeFiltration();
//                eventBus.$emit('updateCars', this.carsAfterFiltration);
//                setTimeout(() => {this.updateFormParamsFromFilters(this.params);}, 150);
            },
//////////////////////////////////////////////////////////////////////////
            checkAllFuels: function () {
                this.fuelsFilterAll = !this.fuelsFilterAll;
                this.fuelsFilter = [];
            },
            fuelsFilterChanged: function () {
                if(this.fuelsFilter.length == this.filters.fuels.length){
                    this.fuelsFilterAll = true;
                }else{
                    this.fuelsFilterAll = false;
                }
                if (this.fuelsFilter.length == 0){
                    this.fuelsFilterAll = true;
                    this.mainFilter.fuels = false;
                }else{
                    if (!this.mainFilter.classes && !this.mainFilter.brands && !this.mainFilter.transes){
                        this.mainFilter.fuels = true;
                    }
                }
                this.makeFiltration();
//                eventBus.$emit('updateCars', this.carsAfterFiltration);
//                setTimeout(() => {this.updateFormParamsFromFilters(this.params);}, 150);
            },
//////////////////////////////////////////////////////////////////////////
            makeFiltration: function () {

               this.carsAfterFiltration = [];

               if (this.classesFilter.length !== 0) {
                   this.carsAfterFiltrationByClass = [];
                   for (var keyFilter in this.classesFilter) {
                       for (var keyCar in this.cars) {
                           if (this.cars[keyCar].class_id == this.classesFilter[keyFilter]){
                               this.carsAfterFiltrationByClass.push(this.cars[keyCar]);
                           }
                       }
                   }
               }else{
                   this.carsAfterFiltrationByClass = this.cars;
               }

                if (this.transesFilter.length !== 0) {

                    this.carsAfterFiltrationByTrans = [];
                    for (var keyFilter in this.transesFilter) {
                        for (var keyCar in this.carsAfterFiltrationByClass) {
                            if (this.carsAfterFiltrationByClass[keyCar].trans_id == this.transesFilter[keyFilter]){
                                this.carsAfterFiltrationByTrans.push(this.carsAfterFiltrationByClass[keyCar]);
                            }
                        }
                    }
                }else{
                    this.carsAfterFiltrationByTrans = this.carsAfterFiltrationByClass;
                }

                if (this.fuelsFilter.length !== 0) {
                    this.carsAfterFiltrationByFuel = [];
                    for (var keyFilter in this.fuelsFilter) {
                        for (var keyCar in this.carsAfterFiltrationByTrans) {
                            if (this.carsAfterFiltrationByTrans[keyCar].fuel_id == this.fuelsFilter[keyFilter]){
                                this.carsAfterFiltrationByFuel.push(this.carsAfterFiltrationByTrans[keyCar]);
                            }
                        }
                    }
                }else{
                    this.carsAfterFiltrationByFuel = this.carsAfterFiltrationByTrans;
                }

                if (this.brandsFilter.length !== 0) {
                    this.carsAfterFiltrationByBrand = [];
                    for (var keyFilter in this.brandsFilter) {
                        for (var keyCar in this.carsAfterFiltrationByFuel) {
                            if (this.carsAfterFiltrationByFuel[keyCar].brand == this.carBrands[this.brandsFilter[keyFilter]]){
                                this.carsAfterFiltrationByBrand.push(this.carsAfterFiltrationByFuel[keyCar]);
                            }
                        }
                    }
                }else{
                    this.carsAfterFiltrationByBrand = this.carsAfterFiltrationByFuel;
                }

                this.carsAfterFiltration = this.carsAfterFiltrationByBrand;

                this.createBrandsCounts(this.carsAfterFiltration);
                this.createClassesCounts(this.carsAfterFiltration);
                this.createTransesCounts(this.carsAfterFiltration);
                this.createFuelsCounts(this.carsAfterFiltration);

            },
        },

        computed: {
        },

        mounted() {
            localStorage.cars =  JSON.stringify(this.carsProp);
            this.cars = JSON.parse(localStorage.cars);

        },

        watch: {
            classesFilter: function(){
                this.classesFilterChanged();

            },
            brandsFilter: function(){
                this.brandsFilterChanged();
            },
            transesFilter: function(){
                this.transesFilterChanged();
            },
            fuelsFilter: function(){
                this.fuelsFilterChanged();
            },
            carsAfterFiltration(newValue) {
                localStorage.carsAfterFiltration = JSON.stringify(newValue);
                eventBus.$emit('updateCarsAfterFiltration');
            },
            cars :function () {
                this.makeFiltration();
            }
        },

        created() {
            this.filters = this.filtersProp;
            this.cars = [];
            for (var keyCar in this.carsProp) {
                this.carsProp[keyCar]['brand'] = this.carsProp[keyCar].name.split(' ')[0] ? this.carsProp[keyCar].name.split(' ')[0] :  this.carsProp[keyCar].name;
                this.cars.push(this.carsProp[keyCar]);
            };
            this.createMainBrandsArray(this.cars);

            this.brandsCounterWithoutFiltering = this.createBrandsCounts(this.cars);
            this.classesCounterWithoutFiltering = this.createClassesCounts(this.cars);
            this.transesCounterWithoutFiltering = this.createTransesCounts(this.cars);
            this.fuelsCounterWithoutFiltering = this.createFuelsCounts(this.cars);

            eventBus.$on('updateCarsAfterSearchForm', () => {
                this.cars = [];
                this.newCars = [];
                this.newCars = JSON.parse(localStorage.cars);
                for (var keyCar in this.newCars) {
                    this.newCars[keyCar]['brand'] = this.newCars[keyCar].name.split(' ')[0] ? this.newCars[keyCar].name.split(' ')[0] : this.newCars[keyCar].name;
                    this.cars.push(this.newCars[keyCar]);
                };
                this.carsAfterFiltration = this.cars;
                // console.log('CARS---', this.cars);
                this.createMainBrandsArray(this.cars);

                this.brandsCounterWithoutFiltering = this.createBrandsCounts(this.cars);
                this.classesCounterWithoutFiltering = this.createClassesCounts(this.cars);
                this.transesCounterWithoutFiltering = this.createTransesCounts(this.cars);
                this.fuelsCounterWithoutFiltering = this.createFuelsCounts(this.cars);

            })
        },


    }
</script>

<style>
    .per-data-head-dark {
        padding: 10px 30px;
        display: grid;
        grid-template-columns: 100% 16px;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
    }

    label.contain.disabled {
        color: #ccc;
        cursor: default;
    }
    label.contain.disabled .checkmark {
        outline: solid 1px #e2e2e2;
    }
</style>

<style module>
    .el-tabs__item{
        font-size: 16px;
        color: #fff;
    }
    .el-tabs__item:hover{
        color: #d5061c;
    }
    .el-tabs__item.is-active {
        color: #d5061c;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
    .el-tabs__active-bar {
        background-color: #d5061c;
    }
    .el-tabs__header {
        padding: 5px .7rem;
        position: relative;
        margin: 0;
        background-color: #313131;
    }
    .el-tabs__nav-next, .el-tabs__nav-prev{
        color: #fff;
    }
    .el-tabs__item {
        padding: 0 9px;
    }

    .contain{
        display: grid;
        grid-template-columns: 30px repeat(1, 1fr) 15px;
        cursor: pointer;
        align-items: center;
        margin-bottom: 0;
        line-height: normal;
        margin: 0 auto;
    }
    .el-badge__content{
        height: 21px;
    }

    .el-badge__content.is-fixed {
      right: -1rem;
      transform: none;
    }
</style>
