<!--
<template>
    <section class="section-settings" id="order-block">
        <div class="container">


            <div class="head-red row text-center">
                <div class="col">
                    <h4>Подача</h4>
                    <div>{{dateStart}} - {{timeStart}}</div>
                    <div>{{placeStartToShow}}</div>
                </div>
                <div class="col">
                    <h2>{{diffDays}} {{dayVar}}</h2>
                </div>
                <div class="col">
                    <h4>Возврат</h4>
                    <div>{{dateFinish}} - {{timeFinish}}</div>
                    <div>{{placeFinishToShow}}</div>
                </div>
            </div>
&lt;!&ndash;//todo: her&ndash;&gt;
            <div class="row">
                <div class="personal-data mr-md-5">
                    <div class="per-data-head-dark">
                        <h4>11 Личные данные</h4>
                    </div>
                    <p v-if="errors.length">
                        <b>Пожалуйста исправьте указанные ошибки:</b>
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </p>
                    <div class="per-data ">
                        <div class="form-group">

                            <div class="form-line">
                                <label for="userName">ФИО</label>
                                <input v-model="userName"
                                       id="userName"
                                       @blur="checkUserName()"
                                       v-bind:class="{ 'bg-warning': backgroundColorUserName}"
                                       type="text"
                                       name="userName"
                                       class="form-control"
                                       placeholder="ФИО">
                            </div>

                            <div class="form-line">
                                <label for="myPhone">Телефон</label>
                                <input v-model="phone"
                                       id="myPhone"
                                       @blur="checkPhone()"
                                       v-bind:class="{ 'bg-warning': backgroundColorPhone}"
                                       type="tel"
                                       name="phone"
                                       class="form-control"
                                       placeholder="Телефон">
                            </div>

                            <div class="form-line">
                                <label for="myEmail">Email</label>
                                <input v-model="email"
                                       id="myEmail"
                                       @blur="checkEmail()"
                                       v-bind:class="{ 'bg-warning': backgroundColorEmail}"
                                       type="email"
                                       name="email"
                                       class="form-control"
                                       placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="myComent">Комментарий</label>
                            <textarea v-model="comment"
                                      id="myComent"
                                      class="pdcb_textarea"
                                      rows="10"
                                      cols="30"
                                      type="text"
                                      placeholder="Коментарий"/>
                        </div>

                    </div>
                    <div class="per-data-head-dark">
                        <h4>Дополнительные опции</h4>
                    </div>
                    <div class="per-data flex-column">



                        <div  v-for="addService in addServices" class="line-b border-bottom">
                            <div class="per-data-title">{{addService.name}}</div>
                            <div class="per-data-price">{{addService.price}}$</div>
                            <label class="contain">
                                <input type="checkbox"  v-model="addOptions" :value="addService.id">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="line-b border-bottom total">
                            <div v-if="!isLoading"  class="per-data-title">Итоговая стоимость за {{diffDays}} {{dayVar.toLowerCase()}}</div>
                            <div class="per-data-price" v-if="Number.isInteger(priceTotal) && Number.isInteger(addOptionsPrice)">{{priceTotal + addOptionsPrice}}$</div>
                            <div v-if="!isLoading || priceTotal === '0'"  class="pdcb_dd_all">Залог: <span>{{priceZalog}}$</span></div>
                        </div>




                    </div>
                </div>
                <div class="ravon">
                    <div class="ravon-head ravon-head-red-border-under ">
                        <h4>Ravon r2 </h4>
                        <span>или аналоги</span>
                    </div>
                    <div class="ravon-img">
                        <img src="/images/ravon.jpg" alt="picsum">
                    </div>
                    <div class="ravon-param">
                        <div class="row">
                            <div class="col-4">
                                <img src="/images/svg/icon_asisst/man.svg" alt="user">
                                5 Мест
                            </div>
                            <div class="col-4">
                                <img src="/images/svg/icon_asisst/engine.svg" alt="engine">
                                3600 см3
                            </div>
                            <div class="col-4">
                                <img src="/images/svg/icon_asisst/snowflake.svg" alt="snowflake">
                                Кондиционер
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <img src="/images/svg/icon_asisst/gaz.svg" alt="gaz">
                                Бензин
                            </div>

                            <div class="col">
                                <img src="/images/svg/icon_asisst/transmission.svg" alt="transmission">
                                Коробка передач механическая
                            </div>
                        </div>
                    </div>
                    <p>Внимание! Мы гарантируем выдачу автомобиля в классе с заявленной коробкой передач, мы
                        обязательно учтем ваши пожелания по конкретной марке автомобиля. </p>
                    <p class="text-info">Для получения автомобиля не забудьте взять паспорт, водительское
                        удостоверение и деньги</p>
                </div>
            </div>

            <div class="head-black row text-center">
                <div class="col">
                    <h4>Адрес</h4>
                    <div></div>
                    <div>Киев, Офис, ул. Здолбуновская, 7Г</div>
                </div>
                <div class="col">
                    <h2>Email</h2>
                    <div></div>
                    <div>lion@avtoprokat.com.ua</div>
                </div>
                <div class="col">
                    <h4>Телефон</h4>
                    <div>+38 (067) 780-86-99</div>
                    <div>(круглосуточно)</div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>

    import Vue from 'vue'
    import {Datetime} from 'vue-datetime';
    import 'vue-datetime/dist/vue-datetime.css'

    import {eventBus} from "../app";
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    const moment = require('moment');
    require('moment/locale/ru');

    Vue.use(require('vue-moment'), {
        moment
    });

    let curDate = moment().toISOString();
    let curTime = moment().toISOString();

    export default {
        props: {
            car: {},
            searchFormParams: {}
        },
        components: {

        },

        data: function () {
            return {
                locale: document.documentElement.lang.substr(0, 2),
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                comment: '',
                phone: '',
                userName: '',
                email: '',
                errors: [],

                backgroundColorUserName: false,
                backgroundColorPhone: false,
                backgroundColorEmail: false,

                isLoading: false,
                addServices: [],
                addOptionsPrice: 0,
                priceTotal: 0,
                addOptions: [],
                priceZalog: 0,

                dateStartToShow:   moment(this.searchFormParams.dStart).toISOString(),//format('YYYY-MM-DD'),
                dateStart:   moment(this.searchFormParams.dStart).format('YYYY-MM-DD'),

                dateFinishToShow:  moment(this.searchFormParams.dFinish).toISOString(),//format('YYYY-MM-DD'),
                dateFinish:  moment(this.searchFormParams.dFinish).format('YYYY-MM-DD'),

                timeStartToShow:   moment(this.searchFormParams.tStart).toISOString(),//format('HH:mm'),
                timeStart:   moment(this.searchFormParams.tStart).format('HH:mm'),

                timeFinishToShow:  moment(this.searchFormParams.tFinish).toISOString(),//format('HH:mm'),
                timeFinish:  moment(this.searchFormParams.tFinish).format('HH:mm'),

                placeStartToShow:  this.searchFormParams.pStart,
                placeFinishToShow: this.searchFormParams.pFinish,

                diffDays: 0,
                dayVar: 'ДНЕЙ',
            };
        },

        methods: {



            checkUserName: function() {
                this.getAddServices();
                if (!this.userName) {
                    if (!this.errors.includes('Укажите имя.'))this.errors.push('Укажите имя.');
                    this.backgroundColorUserName =  true;
                }else if (this.userName.length < 3) {
                    if (!this.errors.includes('Укажите корректное имя.'))this.errors.push('Укажите корректное имя.');
                    this.backgroundColorUserName =  true;
                }else{
                    this.backgroundColorUserName =  false;
                    let index = this.errors.indexOf('Укажите имя.');
                    if (index != -1){
                        this.errors.splice(index,1);
                    }
                    index = this.errors.indexOf('Укажите корректное имя.');
                    if (index != -1){
                        this.errors.splice(index,1);
                    }
                }
            },


            checkPhone: function() {
                if (!this.phone) {
                    if (!this.errors.includes('Укажите телефон.')) this.errors.push('Укажите телефон.');
                    this.backgroundColorPhone =  true;
                }else if (this.phone.length < 6) {
                    if (!this.errors.includes('Укажите корректный телефон.')) this.errors.push('Укажите корректный телефон.');
                    this.backgroundColorPhone =  true;
                }else{
                    this.backgroundColorPhone =  false;
                    let index = this.errors.indexOf('Укажите телефон.');
                    if (index != -1){
                        this.errors.splice(index,1);
                    }
                    index = this.errors.indexOf('Укажите корректный телефон.');
                    if (index != -1){
                        this.errors.splice(index,1);
                    }
                }
            },

            checkEmail: function() {
                if (!this.email) {
                    if (!this.errors.includes('Укажите электронную почту.'))this.errors.push('Укажите электронную почту.');
                    this.backgroundColorEmail =  true;
                } else if (!this.validEmail(this.email)) {
                    if (!this.errors.includes('Укажите корректный адрес электронной почты.'))this.errors.push('Укажите корректный адрес электронной почты.');
                    this.backgroundColorEmail =  true;
                }else{
                    this.backgroundColorEmail =  false;
                    let index = this.errors.indexOf('Укажите электронную почту.');
                    if (index != -1){
                        this.errors.splice(index,1);
                    }
                    index = this.errors.indexOf('Укажите корректный адрес электронной почты.');
                    if (index != -1){
                        this.errors.splice(index,1);
                    }
                }
            },

            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },

            getAddServices: function () {
                this.isLoading = true;
                // console.log('car');
                // console.log(this.car);
                // console.log('searchFormParams');
                // console.log(this.searchFormParams);
                axios({
                    method: 'get',
                    url:    '/get-add-services',
                    params: {
                        dateStart:   moment(this.searchFormParams.dStart).format('YYYY-MM-DD'),
                        dateFinish:  moment(this.searchFormParams.dFinish).format('YYYY-MM-DD'),
                        timeStart:   moment(this.searchFormParams.tStart).format('HH:mm'),
                        timeFinish:  moment(this.searchFormParams.tFinish).format('HH:mm'),
                        placeStart:  this.searchFormParams.pStart,
                        placeFinish: this.searchFormParams.pFinish,
                        car_id: this.car.id,
                    }
                }).then((response) => {
                    // console.log("Add services (to my server))");
                    // console.log(response.data.services);
                    this.addServices = response.data.services;
                    this.calculateAddOptions();
                    this.isLoading = false;
                });
            },
            calculateAddOptions: function () {
                this.addOptionsPrice = 0;
                for (var key in this.addServices) {
                    if ( this.addOptions.includes(this.addServices[key].id)){
                        this.addOptionsPrice += Number(this.addServices[key].price)
                    }
                }
            },

            calculateForm: function (e) {
                this.isLoading = true;
                axios({
                    method: 'post',
                    url:    '/calculate-form',
                    params: {
                        dateStart:   moment(this.searchFormParams.dStart).format('YYYY-MM-DD'),
                        dateFinish:  moment(this.searchFormParams.dFinish).format('YYYY-MM-DD'),
                        timeStart:   moment(this.searchFormParams.tStart).format('HH:mm'),
                        timeFinish:  moment(this.searchFormParams.tFinish).format('HH:mm'),
                        placeStart:  this.searchFormParams.pStart,
                        placeFinish: this.searchFormParams.pFinish,
                        car_id: this.car.id,
                    }
                }).then((response) => {
                    if (this.preventShowingLoadingInsideRequests) this.isLoading = false;
                    if (response.data.catalog.length != 0){

                        // console.log('response.data.catalog[0]');
                        // console.log(response.data.catalog[0]);

//                        if(this.zalog){
                            this.priceTotal = Number(response.data.catalog[0].calculated);
                            this.priceZalog = Number(response.data.catalog[0].packages.econom.main_10);
//                        }
//                        if(!this.zalog){
//                            this.priceTotal = Number(response.data.catalog[0].packages.standart.calculated);
//                            this.priceZalog = Number(response.data.catalog[0].packages.standart.main_10);
//                        }
                    }else{
                        this.priceTotal = "can't be calculated";
                    }
                });
            },

            compareDates: function (date1, date2) {
                let dateF1 = moment(date1).format('MM/DD/YYYY');
                let dateF2 = moment(date2).format('MM/DD/YYYY');
                if (moment(dateF1).isAfter(dateF2)) return ">";
                if (moment(dateF1).isBefore(dateF2)) return "<";
                if (moment(dateF1).isSame(dateF2)) return "==";
            },

            compareTimes: function (time1, time2) {
                if (moment(time1).isAfter(time2)) return ">";
                if (moment(time1).isBefore(time2)) return "<";
                if (moment(time1).isSame(time2)) return "==";
            },

            diffDaysCalculate: function () {
                this.diffDays = moment(this.dateFinish).diff(moment(this.dateStart), 'days');
                if (this.compareDates(this.dateStart, this.dateFinish) == '==') {
                    this.diffDays = moment(this.dateFinish).diff(moment(this.dateStart), 'days') + 1;
                } else {
                    if ((this.compareTimes(this.timeStart, this.timeFinish) == '<')) {
                        this.diffDays = moment(this.dateFinish).diff(moment(this.dateStart), 'days') + 1;
                    }
                };

                let lastChar =  this.diffDays.toString().substring(this.diffDays.toString().length-1);
                if (this.locale == 'ru') {
                    if (lastChar === '1') {
                        this.dayVar = "день"
                    } else {
                        if (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && ((this.diffDays.toString().length == 1))
                            || (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && (this.diffDays.toString().length == 2) && ((this.diffDays != 12) && (this.diffDays != 13) && (this.diffDays != 14)))) {
                            this.dayVar = "дня"
                        } else {
                            this.dayVar = "дней"
                        }
                    }
                }
                if (this.locale == 'ua') {
                    if (lastChar === '1') {
                        this.dayVar = "день"
                    } else {
                        if (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && ((this.diffDays.toString().length == 1))
                            || (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && (this.diffDays.toString().length == 2) && ((this.diffDays != 12) && (this.diffDays != 13) && (this.diffDays != 14)))) {
                            this.dayVar = "дня"
                        } else {
                            this.dayVar = "днiв"
                        }
                    }
                }
                if (this.locale == 'en') {
                    if (lastChar === '1') {
                        this.dayVar = "day"
                    } else {
                        this.dayVar = "days"
                    }
                }
                localStorage.diffDays = this.diffDays;
                localStorage.dayVar = this.dayVar;
            },




        },

        computed: {
//            diffDays: function () {
//                return  moment(this.searchFormParams.dFinish).diff(moment(this.searchFormParams.dStart), 'days');
//            },
        },

        mounted() {
            this.getAddServices();
            this.calculateForm();
            this.diffDaysCalculate();

        },

        watch: {
            addOptions: function () {
            this.$forceUpdate;
            this.calculateAddOptions();
        },

        },

        created() {


        },

    }
</script>
-->
