<template>
    <div>
        <section class="section-settings" id="vaucher" ref="vaucher">
            <div class="container">
                <div class="head-red row text-center grid_time">
                    <div class="col-6 col-sm col text-nowrap">
                        <h4>{{ $t('form.get')}}</h4>
                        <div>{{dateStartToShow}}&nbsp;&nbsp;{{timeStartToShow}}</div>

                        <div>{{placeStartToShow}}</div>
                    </div>
                    <div class="col  d-none d-sm-flex  text-uppercase">
                        <h2>{{diffDays}} {{dayVar}}</h2>
                    </div>
                    <div class="col-6 col-sm col text-nowrap">
                        <h4>{{ $t('form.return')}}</h4>
                        <div>{{dateFinishToShow}}&nbsp;&nbsp;{{timeFinishToShow}}</div>
                        <div>{{placeFinishToShow}}</div>
                    </div>
                </div>

                <div class="row mt-3 mb-3">
                    <loading :active.sync="isLoading"
                             :can-cancel="false"
                             :is-full-page="false">
                    </loading>

                    <div class="col-12 col-md-5 col-lg-4 ravon pt-3 mb-3">
                        <div class="d-grid-ravon ravon-head ravon-head-red-border-under ">
                            <h3 class="text-uppercase my-col-1">{{car.name}}</h3>
                            <span class="my-col-2"> {{ $t('car.equivalent')}}</span>
                            <i class="ravon-type my-col-3">{{car.class_name}}</i>
                        </div>

                        <div class="ravon-img">
                            <img :src="car.image" alt="picsum">
                            <el-row class="position-absolute reSelect">
                                <el-button @click.stop.prevent="goBack()" type="info" icon="el-icon-arrow-left" plain round>{{ $t('form.back')}}</el-button>
                            </el-row>
                        </div>

                        <div class="ravon-param">
                            <div class="ravon-tail-services p-3 p-sm-0">
                                <i class="ravon-icon ravon-icon-user">{{car.qd}}</i>
                                <i class="ravon-icon ravon-icon-gaz">{{car.fuel_name.slice(0, 1)}}</i>
                                <i class="ravon-icon ravon-icon-snowflake"></i>
                                <i class="ravon-icon ravon-icon-transmission">{{car.trans_name.charAt(0)}}</i>
                                <i class="ravon-icon ravon-icon-engine">{{car.ec}}</i>
                            </div>


                            <div class="row ravon-head">
                                <div class="col-12 per-data-head-dark">
                                    <h4>{{ $t('car.final_price')}}</h4>
                                </div>
                                <div class="container pt-5 pb-5">
                                    <div v-if="!isLoading">
                                        <transition name="fade">
                                            <h2 class="font-weight-bold text-center" v-if="Number.isInteger(priceTotal) && Number.isInteger(addOptionsPrice)">
                                                {{priceTotal + addOptionsPrice}} {{currencyImage}} / {{diffDays}} {{dayVar.toLowerCase()}}
                                            </h2>
                                        </transition>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="ravon-head text-center">
                            <div v-if="!isLoading || priceTotal === '0'" class="h4 col-12 font-weight-bold  pt-5">{{ $t('car.deposit')}}:{{priceZalog}}{{currencyImage}}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-7 col-lg-8 personal-data mb-3">
                        <div class="wrap-vaucher">
                            <div class="per-data-head-dark">
                                <h4>{{ $t('form.personal_data')}}</h4>
                            </div>

                            <div class="per-data ">
                                <div class="row m-0  form-group">

                                    <!--todo: тут нужен компонент-->
                                    <div class="col-12 col-md-4 col-auto form-line">
                                        <label for="fio">{{ $tc('form.fio') }}
                                            <span v-if="errors.length" class="text-danger"></span>
                                        </label>
                                        <el-input
                                                v-model="userName"
                                                id="fio"
                                                @blur.lazy="checkUserName($t('errors.set_name'), $t('errors.set_correct_name'))"
                                                :prefix-icon=" backgroundColorUserName ? 'el-icon-question error': '' "
                                                :class="{ 'border border-danger': backgroundColorUserName}"
                                                type="text"
                                                name="userName"
                                                :placeholder="(!errorsUserName.length)? '': $t('errors.set_name')">
                                                <!--//:placeholder="$t('form.fio')">-->
                                        </el-input>
                                        <input-contacts-errors :errors="errorsUserName"></input-contacts-errors>
                                    </div>
                                    <div class="col-12 col-md-4 col-auto form-line">
                                        <label for="phone">{{ $t('form.phone')}}</label>
                                        <el-input
                                                v-model="phone"
                                                id="phone"
                                                @blur.lazy="checkPhone($t('errors.set_phone'), $t('errors.set_correct_phone'))"
                                                :prefix-icon=" backgroundColorPhone ? 'el-icon-question error': '' "
                                                :class="{ 'border border-danger': backgroundColorPhone}"
                                                type="tel"
                                                name="phone"
                                                :placeholder="(!backgroundColorPhone.length)? $t('form.phoneCode'): $t('errors.set_phone')">
                                        </el-input>
                                        <input-contacts-errors :errors="errorsPhone"></input-contacts-errors>
                                    </div>
                                    <div class="col-12 col-md-4 col-auto form-line">
                                        <label for="email">Email</label>
                                        <el-input
                                                v-model="email"
                                                id="email"
                                                @blur.lazy="checkEmail($t('errors.set_email'), $t('errors.set_correct_email'))"
                                                :prefix-icon=" backgroundColorEmail ? 'el-icon-question error': '' "
                                                :class="{ 'border border-danger': backgroundColorEmail}"
                                                type="email"
                                                name="email"
                                                :placeholder="$t('form.email')">
                                        </el-input>
                                        <input-contacts-errors :errors="errorsEmail"></input-contacts-errors>
                                    </div>
                                </div>

                                <div class="col-12 form-group mt-3">
                                    <label>{{ $t('form.comment')}}</label>
                                    <textarea v-model="comment"
                                              class="pdcb_textarea"
                                              rows="3"
                                              cols="30"
                                              type="text"
                                              :placeholder="$t('form.comment')"></textarea>
                                </div>
                            </div>
                            <div class="per-data-head-dark">
                                <h4>{{ $t('form.options')}}</h4>
                            </div>
                            <div class="per-data flex-column p-3">
                                <label v-for="addService in addServices"  class="line-b border-bottom">
                                    <div class="per-data-title">{{addService.name}}</div>
                                    <div class="per-data-price">{{Math.ceil(addService.price*currencyRate)}}{{currencyImage}}</div>
                                    <div class="contain ml-3">
                                        <input type="checkbox" v-model="addOptions" :value="addService.id">
                                        <span class="checkmark"></span>
                                    </div>
                                </label>


                                <div class="line-b border-bottom total" style="font-size: 14px; text-align: justify; color: #999;line-height: 100%;">
                                    <p class="mt-3">{{ $t('form.notice')}}</p>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <!--<div class="col-12 col-md-6 mb-3">
                                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                                        <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                                    </div>-->
                                    <div class="col-12 col-md-6">


                                        <button @click="validateFormForSending(
                                            $t('errors.set_name'), $t('errors.set_correct_name'),
                                            $t('errors.set_phone'), $t('errors.set_correct_phone'),
                                            $t('errors.set_email'), $t('errors.set_correct_email') )"
                                                type="button"
                                                class="btn btn-primary  btn-lg btn-block rounded-0">
                                            {{ $t('car.order_btn')}} <!--// заказать-->

                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <FlashMessage></FlashMessage>
        </section>

        <Vaucher
                :car="car"
                :orderNumber="orderNumber"
                :userName="userName"
                :phone="phone"
                :email="email"
                :comment="comment"
                :currencyImage="currencyImage"

                :currentCar="car"
                :dateStartToShow="dateStartToShow"
                :timeStartToShow="timeStartToShow"
                :dateFinishToShow="dateFinishToShow"
                :timeFinishToShow="timeFinishToShow"
                :addServices="addServices"
                :addOptions="addOptions"
                :fullCheckedOptions="fullCheckedOptions"
                :addOptionsPrice="addOptionsPrice"
                :diffDays="diffDays"
                :dayVar="dayVar"

                :priceTotal="priceTotal"
                :priceZalog="priceZalog"
                :placeStartToShow="placeStartToShow"
                :placeFinishToShow="placeFinishToShow"
        ></Vaucher>
    </div>


</template>

<script>

    import Vue from 'vue'
    import {Datetime} from 'vue-datetime';
    import 'vue-datetime/dist/vue-datetime.css'

    import {eventBus} from "../app";
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';

    const moment = require('moment');
    require('moment/locale/ru');

    Vue.use(require('vue-moment'), {
        moment
    });
    import FlashMessage from '@smartweb/vue-flash-message';

    Vue.use(FlashMessage);
    // let curDate = moment().toISOString();
    // let curTime = moment().toISOString();


    import {scroller} from 'vue-scrollto/src/scrollTo';
    import Vaucher from "./unit/Vaucher";


    export default {
        props: {
            car: Object,
            currencyRate: '',
        },
        components: {
            Vaucher,
            Loading,
        },

        data() {
            return {

                errorsInAddEmail: [],
                anotherEmail: '',
                backgroundColorAnotherEmail: '',
                showAnotherEmailForm: false,
                paramsForAnotherEmail: '',
                locale: document.documentElement.lang.substr(0, 2),
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),

                userName: null,
                phone: null,
                email: null,
                comment: null,
                currentCar: '',

                hasErrors: false,
                errors: [],

                errorsUserName: [],
                errorsPhone: [],
                errorsEmail: [],


                input: '',
                showEmailInput: false,
                emailOffer: '',
                emailButtonLabel: 'Отправить',


                backgroundColorUserName: false,
                backgroundColorPhone: false,
                backgroundColorEmail: false,

                isLoading: false,
                addServices: [],
                addOptionsPrice: 0,
                priceTotal: 0,
                addOptions: [],
                priceZalog: 0,

                dateStart: moment(localStorage.dateStart).format('YYYY-MM-DD'),
                dateStartToShow: moment(localStorage.dateStart).format('YYYY-MM-DD'),

                dateFinish: moment(localStorage.dateFinish).format('YYYY-MM-DD'),//format('YYYY-MM-DD'),
                dateFinishToShow: moment(localStorage.dateFinish).format('YYYY-MM-DD'),

                timeStart: moment(`${localStorage.dateStart} ${localStorage.timeStart}`).toISOString(),//format('HH:mm'),
                timeStartToShow: localStorage.timeStart,

                timeFinish: moment(`${localStorage.dateFinish} ${localStorage.timeFinish}`).toISOString(),//format('HH:mm'),
                timeFinishToShow: moment(`${localStorage.dateStart} ${localStorage.timeFinish}`).format('HH:mm'),

                placeStartToShow: JSON.parse(localStorage.placeStart).city_location,
                placeFinishToShow: JSON.parse(localStorage.placeFinish).city_location,

                diffDays: 0,
                dayVar: 'дней',

                orderNumber: '0',
                options: [],
                fullCheckedOptions: [],
                currencyImage: '$',
            };
        },

        methods: {
            /*    sendOffer(e) {
                    this.errors = [];
                    this.checkEmail();
                    if (!this.errors.length) {
                        this.sendForm()
                    } else {

                    }
                },*/

            checkUserName(a, b) {
                // пустое поле воода имени
                //console.log('\n----this.userName-', this.userName, '\n---this.errorsUserName-', this.errorsUserName, '\n---this.errors-', this.errors);
                if (!this.userName) {
                    this.hasErrors=true;
                    if (!this.errors.includes(a)) {
                        this.errors.push(a);
                        this.errorsUserName.push(a);
                    }
                    this.backgroundColorUserName = true;
                } else if (this.userName.length < 3) {
                    if (!this.errors.includes(b)) {
                        this.errors.push(b);
                        this.errorsUserName.push(b);
                    }
                    this.backgroundColorUserName = true;
                } else {
                    this.backgroundColorUserName = false;
                    this.hasErrors=false;

                    // проверка на уникальность
                    let uniqEs6 = (arrArg) => {
                        return arrArg.filter((elem, pos, arr) => {
                            return arr.indexOf(elem) == pos;
                        });
                    };

                    if (this.errors.indexOf(a) != -1) {
                        this.errors.splice(this.errors.indexOf(a), 1);
                        this.errorsUserName.splice(this.errors.indexOf(a), 1);
                    }

                    if (this.errors.indexOf(b) != -1) {
                        this.errors.splice(this.errors.indexOf(b), 1);
                        this.errorsUserName.splice(this.errors.indexOf(b), 1);
                    }
                }

                //console.log('\n----this.userName-', this.userName, '\n---this.errorsUserName-', this.errorsUserName, '\n---this.errors-', this.errors);
            },


            checkPhone(a, b) {
                if (!this.phone) {
                    this.backgroundColorPhone = true;
                    this.hasErrors=true;
                    if (!this.errors.includes(a)) {
                        this.errors.push(a);
                        this.errorsPhone.push(a);
                    }
                } else if (this.phone.length < 6) {
                    this.backgroundColorPhone = true;
                    this.hasErrors=true;
                    if (!this.errors.includes(b)) {
                        this.errors.push(b);
                        this.errorsPhone.push(b);
                    }
                } else {
                    this.hasErrors=false;
                    this.backgroundColorPhone = false;

                    if (this.errors.indexOf(a) != -1) {
                        this.errors.splice(this.errors.indexOf(a), 1);
                        this.errorsPhone.splice(this.errors.indexOf(a), 1);
                    }

                    if (this.errors.indexOf(b) != -1) {
                        this.errors.splice(this.errors.indexOf(b), 1);
                        this.errorsPhone.splice(this.errors.indexOf(b), 1);
                    }
                }
            },

            checkEmail(a, b) {
                if (!this.email) {
                    this.hasErrors=true;
                    this.backgroundColorEmail = true;
                    if (!this.errors.includes(a)) {
                        this.errors.push(a);
                        this.errorsEmail.push(a);
                    }
                } else if (!this.validEmail(this.email)) {
                    this.hasErrors=true;
                    this.backgroundColorEmail = true;
                    if (!this.errors.includes(b)) {
                        this.errorsEmail.push(b);
                    }
                } else {
                    this.hasErrors=false;
                    this.backgroundColorEmail = false;

                    if (this.errors.indexOf(a) != -1) {
                        this.errors.splice(this.errors.indexOf(a), 1);
                        this.errorsEmail.splice(this.errors.indexOf(a), 1);
                    }

                    if (this.errors.indexOf(b) != -1) {
                        this.errors.splice(this.errors.indexOf(b), 1);
                        this.errorsEmail.splice(this.errors.indexOf(b), 1);
                    }
                }
            },


            validEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },

            validateFormForSending(a1,b1, a2,b2, a3,b3) {
                const firstScrollTo = scroller();



                if( a1 && b1 && a2 && b2 && a3 && b3  ){
                    firstScrollTo('#vaucher')

                }
                if(  !this.errorsUserName.length && !this.errorsPhone.length && !this.errorsEmail.length ){
                    this.checkUserName(a1,b1);
                    this.checkPhone(a2,b2);
                    this.checkEmail(a3,b3);
                }

                // scrollTo('#vaucher', 500)
                //console.log('---->',  this.$refs)



                if (!this.errors.length) {

                    this.sendForm()
                }
            },

            sendAnotherEmail(e) {
                this.errorsInAddEmail = [];
                this.checkAnotherEmail();

                if (!this.errorsInAddEmail.length) {
                    this.isLoading = true;
                    axios
                    ({
                        method: 'post',
                        url: '/send-another-email',
                        params: {
                            email: this.anotherEmail,
                            order_number: this.orderNumber,
                            paramsForAnotherEmail: this.paramsForAnotherEmail,
                        }
                    }).then((response) => {
                        //console.log(response.data.orderNumber);
                        this.isLoading = false;
                        this.flashMessage.success({time: 5000, title: 'Подтверждение успешно перенаправлено на ' + this.anotherEmail});
                        this.anotherEmail = '';
                        this.showAnotherEmailForm = false;
                    });
                } else {
                    let warningMessage = '';
                    this.errorsInAddEmail.forEach( (item, i, arr) => {
                        warningMessage = warningMessage + item + '\r\n';
                    });
                    this.flashMessage.warning({time: 3000, title: 'Пожалуйста, заполните следующие поля:', message: warningMessage});

                }

            },

            checkAnotherEmail() {
                if (!this.anotherEmail) {
                    if (!this.errorsInAddEmail.includes('Укажите электронную почту.')) this.errorsInAddEmail.push('Укажите электронную почту.');
                    this.backgroundColorAnotherEmail = 'orange';
                } else if (!this.validEmail(this.anotherEmail)) {
                    if (!this.errorsInAddEmail.includes('Укажите корректный адрес электронной почты.')) this.errorsInAddEmail.push('Укажите корректный адрес электронной почты.');
                    this.backgroundColorAnotherEmail = 'orange';
                } else {
                    this.backgroundColorAnotherEmail = '';
                    let index = this.errorsInAddEmail.indexOf('Укажите электронную почту.');
                    if (index != -1) {
                        this.errorsInAddEmail.splice(index, 1);
                    }
                    index = this.errorsInAddEmail.indexOf('Укажите корректный адрес электронной почты.');
                    if (index != -1) {
                        this.errorsInAddEmail.splice(index, 1);
                    }
                }
            },



            getAddServices: function () {
                this.isLoading = true;
                axios({
                    method: 'get',
                    url: '/get-add-services',
                    params: {
                        dateStart: moment(localStorage.dateStart).format(),
                        dateFinish: moment(localStorage.dateFinish).format(),
                        timeStart: localStorage.timeStart,
                        timeFinish: localStorage.timeFinish,
                        placeStart: JSON.parse(localStorage.placeStart).city_id,
                        placeFinish: JSON.parse(localStorage.placeFinish).city_id,
                        car_id: this.car.id,
                        locale: this.locale,
                        curr: localStorage.currency ? JSON.parse(localStorage.currency).id : 6,
                    }
                }).then((response) => {
                    this.addServices = response.data.services;
                    this.calculateAddOptions();
                    this.isLoading = false;
                });
            },

            calculateAddOptions: function () {
                this.addOptionsPrice = 0;
                for (var key in this.addServices) {
                    if (this.addOptions.includes(this.addServices[key].id)) {
                        this.addOptionsPrice += Math.ceil(Number(this.addServices[key].price)*this.currencyRate);
                    }
                }
            },


            compareDates: function (date1, date2) {
                let dateF1 = moment(date1).format('MM/DD/YYYY');
                let dateF2 = moment(date2).format('MM/DD/YYYY');
                if (moment(dateF1).isAfter(dateF2)) return ">";
                if (moment(dateF1).isBefore(dateF2)) return "<";
                if (moment(dateF1).isSame(dateF2)) return "==";
            },

            compareTimes: function (time1, time2) {
                if (moment(time1).isAfter(time2)) return ">";
                if (moment(time1).isBefore(time2)) return "<";
                if (moment(time1).isSame(time2)) return "==";
            },



            sendForm() {
                this.isLoading = true;
//                this.flashMessage.success({time: 5000, title: 'Спасибо за заказ, ' + this.userName, message: 'Подтверждение отправленно на Ваш email'});
                axios({
                    method: 'post',
                    url: '/send-form',
                    params: {
                        userName: this.userName,
                        email: this.email,
                        phone: this.phone,
                        comment: this.comment,
                        dateStart: moment(this.dateStart).format('YYYY-MM-DD'),
                        dateFinish: moment(this.dateFinish).format('YYYY-MM-DD'),
                        timeStart: moment(this.timeStart).format('HH:mm'),
                        timeFinish: moment(this.timeFinish).format('HH:mm'),
                        placeStart: localStorage.placeStart,
                        placeFinish: localStorage.placeFinish,
                        carModel: JSON.stringify(this.car),
                        priceTotal: this.priceTotal,
                        priceZalog: this.priceZalog,
                        addOptionsPrice: this.addOptionsPrice,
                        checkedOptions: JSON.stringify(this.createCheckedOptionsArray()),
                        country: localStorage.country,
                        dayVar: this.dayVar,
                        diffDays: localStorage.diffDays,
                        currencyRate: this.currencyRate,
                        currencyImage: this.currencyImage,
                    }
                }).then((response) => {
                    //console.log('orderNumber', response.data);
                    this.currentCar = response.data.car.name;

                    this.orderNumber = response.data.orderNumber;
                    this.createFullCheckedOptionsArray();
                    this.isLoading = false;
                    this.showModal();

                }).catch(error => {
                    this.errors.push('Ошибка сервера');
                }).finally(() => (this.isLoading = false));
            },

            createCheckedOptionsArray: function () {
                let checkedOptions = [];
                for (var key in this.addServices) {
                    if (this.addOptions.includes(this.addServices[key].id)) {
                        checkedOptions.push(this.addServices[key])
                    }
                }
                return checkedOptions;
            },

            createFullCheckedOptionsArray: function () {
                for (var key in this.addServices) {
                    if (this.addOptions.includes(this.addServices[key].id)) {
                        this.fullCheckedOptions.push(this.addServices[key])
                    }
                }
            },

            goBack: function () {
                window.history.back();
            },
            showModal: function () {
                $('#modalCertificate').modal('show');
                $('#modalCertificate').on('hidden.bs.modal', function (e) {
                    window.history.back();
                })
            },
            diffDaysCalculate: function () {
                this.diffDays = moment(this.dateFinish).diff(moment(this.dateStart), 'days');
                if (this.compareDates(this.dateStart, this.dateFinish) == '==') {
                    this.diffDays = moment(this.dateFinish).diff(moment(this.dateStart), 'days') ;
                } else {
                    if ((this.compareTimes(this.timeStart, this.timeFinish) == '<')) {
                        this.diffDays = moment(this.dateFinish).diff(moment(this.dateStart), 'days');
                    }
                }
                ;

                let lastChar = this.diffDays.toString().substring(this.diffDays.toString().length - 1);
                if (this.locale == 'ru') {
                    if (lastChar === '1') {
                        this.dayVar = "день"
                    } else {
                        if (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && ((this.diffDays.toString().length == 1))
                            || (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && (this.diffDays.toString().length == 2) && ((this.diffDays != 12) && (this.diffDays != 13) && (this.diffDays != 14)))) {
                            this.dayVar = "дня"
                        } else {
                            this.dayVar = "дней"
                        }
                    }
                }
                if (this.locale == 'ua') {
                    if (lastChar === '1') {
                        this.dayVar = "день"
                    } else {
                        if (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && ((this.diffDays.toString().length == 1))
                            || (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && (this.diffDays.toString().length == 2) && ((this.diffDays != 12) && (this.diffDays != 13) && (this.diffDays != 14)))) {
                            this.dayVar = "дня"
                        } else {
                            this.dayVar = "днiв"
                        }
                    }
                }
                if (this.locale == 'en') {
                    if (lastChar === '1') {
                        this.dayVar = "day"
                    } else {
                        this.dayVar = "days"
                    }
                }
                localStorage.diffDays = this.diffDays;
                localStorage.dayVar = this.dayVar;
            },

            getCities: function () {
                this.isLoading = true;
                axios({
                    method: 'get',
                    url: '/cities',
                    params: {
                        'countryId': localStorage.country.id,
                        'locale': this.locale,
                    }
                }).then((response) => {
                    this.isLoading = false;
                    this.cities = response.data.cities;
                    for (let cityPlaces in this.cities) {
                        for (let place in this.cities[cityPlaces]) {
                            if (place == JSON.parse(localStorage.placeStart).city_id) {
                                localStorage.placeStart = JSON.stringify({city_id: place, city_location: this.cities[cityPlaces][place]})
                                this.placeStartToShow = JSON.parse(localStorage.placeStart).city_location;
                            }
                            if (place == JSON.parse(localStorage.placeFinish).city_id) {
                                localStorage.placeFinish = JSON.stringify({city_id: place, city_location: this.cities[cityPlaces][place]})
                                this.placeFinishToShow = JSON.parse(localStorage.placeFinish).city_location;
                            }
                        }
                    }
                });
            },

            print() {
                window.open(this.urlToCertificate);
            },


        },

        computed: {
            urlToCertificate: function () {
                return '/show-certificate' + '/' + this.orderNumber;
            },
        },

        mounted() {
            this.currencyImage = localStorage.currency ? JSON.parse(localStorage.currency).image : '$';

            this.getAddServices();
//            this.calculateForm();
            this.priceTotal = Number(this.car.calculated);
            this.priceZalog = Number(this.car.main_10);
            this.diffDays = localStorage.diffDays;
            this.dayVar = localStorage.dayVar;
            this.diffDaysCalculate();
            this.getCities();
        },

        watch: {
            addOptions: function () {
                this.$forceUpdate;
                this.calculateAddOptions();
            },

        },

        created() {


        },

    }
</script>


<style module>
    .el-input__inner {
        height: 40px;
        border-radius: 0;
    }

    .border-danger input#fio::placeholder,
    .border-danger input#phone::placeholder ,
    .border-danger input#email::placeholder {
        color: #c00;
    }
    /*.border-danger input#fio {
        color: #c00;
    }*/
</style>
