<template>
    <div class="container container-relative">

        <div class="selectorCar shadow">

            <div class="vld-parent">
                <loading :active.sync="isLoading"
                         :can-cancel="false"
                         :is-full-page="false">
                </loading>
                <p class="box-title text-center">{{ $t('form.header')}}</p>
                <div class="box-body">
                    <form method="GET" :action="autoparkCalc" novalidate="true">
                        <!--<input type="hidden" name="_token" :value="csrf">-->
                        <input type="hidden" name="countryName" :value="countryModel.name_country_en">
                        <input type="hidden" name="countryId" :value="countryModel.id">
                        <input type="hidden" name="placeStart" :value="JSON.stringify(placeStart)">
                        <input type="hidden" name="placeFinish" :value="JSON.stringify(placeFinish)">
                        <input type="hidden" name="dateStart" :value="dateStart">
                        <input type="hidden" name="dateFinish" :value="dateFinish">
                        <input type="hidden" name="timeStart" :value="timeStart">
                        <input type="hidden" name="timeFinish" :value="timeFinish">
                        <input type="hidden" name="dateStartFormatted" :value="dateStartFormatted">
                        <input type="hidden" name="dateFinishFormatted" :value="dateFinishFormatted">
                        <input type="hidden" name="timeStartFormatted" :value="timeStartFormatted">
                        <input type="hidden" name="timeFinishFormatted" :value="timeFinishFormatted">
                        <input type="hidden" name="formFilled" :value="podborAutoEnable">

                        <div class="form-group mt-md-3">
                            <!--<select v-model="countryModel" @change="countryChanged()" v-bind:class="{ 'border border-warning': backgroundColorCountry}" class="form-control">-->
                            <!--<option  v-if="!presetCountry" disabled selected value="">{{ $t('form.choose_country')}}</option>-->
                            <select v-model="countryModel" @change="countryChanged()"
                                    v-bind:class="{ 'bg-warning': backgroundColorCountry}"
                                    class="custom-select form-control">
                                <option v-if="!presetCountry" disabled selected value="">{{
                                    $t('form.choose_country')}}
                                </option>
                                <template v-if="!presetCountry">
                                    <option v-for="(country, index) in countries" :key="index" :value="country">
                                        {{country.name_country_localized}}
                                    </option>
                                </template>
                                <template v-if="presetCountry">
                                    <option v-if="presetCountry" disabled selected :value="presetCountry">
                                        {{presetCountry.name_country_localized}}
                                    </option>
                                </template>
                            </select>
                            <!--                                <span v-for="(country, index) in countries" :key="index"> {{country.name_country_localized}}</span>-->
                            <label>{{ $t('form.get') }}</label>

                            <select v-model="placeStart" @change="placeStartChanged()"
                                    v-bind:class="{ 'bg-warning': backgroundColorPlaceStart}"
                                    class="custom-select form-control mb-md-1">
                                <option selected disabled :value="{}">{{ $t('form.place_get')}}</option>
                                <optgroup v-for="(city, key) in cities" :label="key">
                                    <option v-for="(city_location, city_id) in city" :value="{city_id, city_location}">
                                        {{city_location}}
                                    </option>
                                </optgroup>
                            </select>
                            <div class="d-flex justify-content-between  mb-md-3">
                                <template>
                                    <el-date-picker
                                            v-model="dateStart"
                                            :editable=false
                                            @change="dateStartChanged"
                                            :picker-options="{
                                                disabledDate(time) {
                                                    const date = new Date();
                                                    return time.getTime() < (date.getTime() - 3600 * 1000 ); // true or false
                                                },
                                            }"
                                            format="yyyy-MM-dd"
                                            value-format="yyyy-MM-dd"
                                            :clearable=false
                                            align="left"
                                            type="date"
                                            size="mini"
                                            class="col-7 p-0"
                                            range-separator="-"
                                            placeholder="Pick a day">
                                    </el-date-picker>
                                    <el-time-select
                                            :editable=false
                                            class="col-5 p-0"
                                            size="mini"
                                            :clearable=false
                                            v-model="timeStart"
                                            @change="timeStartChanged()"
                                            :picker-options="{
                                              format: 'HH:mm',
                                              start: '00:00',
                                              end: '23:50',
                                              step: '00:30',
                                            }"
                                            type="time"
                                            align="left"
                                            format="HH:mm"
                                            value-format="HH:mm">
                                    </el-time-select>
                                </template>
                            </div>

                            <label class="ml-md-2">{{ $t('form.return')}}</label>

                            <select v-model="placeFinish" @change="placeFinishChanged()"
                                    v-bind:class="{ 'bg-warning': backgroundColorPlaceFinish}"
                                    class="custom-select pdcb_select form-control  mb-md-1">
                                <option selected disabled :value="{}">{{ $t('form.place_return')}}</option>
                                <optgroup v-for="(city, key) in cities" :label="key">
                                    <option v-for="(city_location, city_id) in city" :value="{city_id, city_location}">
                                        {{city_location}}
                                    </option>
                                </optgroup>
                            </select>

                            <div class="d-flex justify-content-between">
                                <template>
                                    <el-date-picker
                                            :editable=false
                                            size="mini"
                                            :picker-options="pickerOptionsD"
                                            :clearable=false
                                            v-model="dateFinish"
                                            @change="dateFinishChanged()"
                                            class="col-7 p-0"
                                            align="left"
                                            type="date"
                                            format="yyyy-MM-dd"
                                            value-format="yyyy-MM-dd"
                                            placeholder="Select date and time"
                                            default-time="12:00">
                                    </el-date-picker>
                                    <el-time-select
                                            :editable=false
                                            class="col-5 p-0"
                                            size="mini"
                                            :clearable=false
                                            :picker-options="{
                                              format: 'HH:mm',
                                              start: '00:00',
                                              end: '23:50',
                                              step: '00:30',
                                            }"
                                            v-model="timeFinish"
                                            @change="timeFinishChanged()"
                                            type="datetime"
                                            align="left"
                                            format="HH:mm"
                                            value-format="HH:mm">
                                    </el-time-select>
                                </template>
                            </div>
                        </div>

                        <!--<a v-if="podborAutoEnable"  v-on:click="podborAuto()" class="btn btn-outline-info">Подобрать автомобиль</a>-->
                        <button v-if="podborAutoEnable" type="submit"
                                class="d-flex justify-content-center align-items-center   btn btn-primary  btn-lg btn-block rounded-0 mt-2">
                            <span>{{ $t('form.choose_continue')}}</span>
                            <i class="mt-1 ml-auto  el-icon-d-arrow-right"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Vue from 'vue'
    import {Datetime} from 'vue-datetime';
    import 'vue-datetime/dist/vue-datetime.css'
    import {Settings} from 'luxon'
    import {eventBus} from "../app";
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';

    const moment = require('moment');
    require('moment/locale/ru');

    Vue.use(require('vue-moment'), {
        moment
    });

    // let curDate = moment().toISOString();
    // let curTime = moment().toISOString();

    export default {
        props: {
            countries: Object,
            presetCountry: String,
            getCitiesWhenMounted: false,
            presetFormParams: {},
        },
        components: {
            Datetime, Loading
        },

        data() {
            return {
                locale: document.documentElement.lang.substr(0, 2),
                autoparkCalc: `/${document.documentElement.lang.substr(0, 2)}/autopark-calc`,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                disableButtonOnStart: true,
                isLoading: false,
                countryModel: '',
                cities: '',
                placeStart: {},
                placeFinish: {},
                placeFinishAutoChangeEnable: true,
                //начало
                dateGap: 3,
                dateStart: '',
                dateStartFormatted: '',
                timeStart: '',
                timeStartFormatted: '',
                disabledTimeStart: '',
                disabledDatesStart: '',

                //конец
                dateFinish: '',
                dateFinishFormatted: '',
                timeFinish: '',
                timeFinishFormatted: '',
                disabledDatesFinish: '',
                disabledTimeFinish: '',

                backgroundColorPlaceStart: false,
                backgroundColorPlaceFinish: false,
                backgroundColorCountry: false,

                errors: [],
                errorsInAddEmail: [],

                pickerOptionsD: {
                    disabledDate: (time) => {
                        return moment(time).isBefore(moment(this.dateStart).add(this.dateGap, 'day'))
                    }
                },

            }
        },

        methods: {
            dateStartColdStart() {
                this.dateStartFormatted = this.disabledDatesStart = this.dateStart = moment().add(1, 'day').format('YYYY-MM-DD');//дата начвла
                this.dateFinishFormatted = this.disabledDatesFinish = this.dateFinish = moment().add(this.dateGap, 'day').format('YYYY-MM-DD');
                this.timeStartFormatted = this.timeStart = moment().format('HH:mm');
                this.timeFinishFormatted = this.disabledTimeFinish = this.timeFinish = moment().format('HH:mm');
            },

            dateStartChanged() {
                if (moment(this.dateStart).isBefore(this.dateFinish)) { //"<"
                    // console.log("<", 11111111 )
                    this.dateFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                    this.disabledDatesFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                } else if (moment(this.dateStart).isSame(this.dateFinish)) { // "=="
                    // console.log("==", 22222222 )
                    this.dateFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                    this.disabledDatesFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                } else if (moment(this.dateStart).isAfter(this.dateFinish)) {// ">"
                    // console.log(">", 33333333 )
                    this.dateFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                    this.disabledDatesFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                }
            },

            dateFinishChanged() {
                if (moment(this.dateStart).isBefore(this.dateFinish)) { //"<"
                    this.dateFinish = moment(this.dateFinish).format('YYYY-MM-DD');
                } else {
                    this.dateStartChanged();
                }
            },

            timeStartChanged() {
                let tStart = moment.duration(this.timeStart)._data;
                let tFinish = moment.duration(this.timeFinish)._data;
                // let start =  moment('2019-06-13 02:19');
                // let end =  moment('2019-06-15 12:33');
                // let start2 =  moment(`${this.dateStart} ${this.timeStart}`); //   moment(start2).format()   2019-06-16T13:24:00+03:00
                // let end2 =  moment(`${this.dateFinish} ${this.timeFinish}`);
                // let timeAdd = moment(tStart).add(1, 'hours').format('HH:mm'); //00:10 01:10
                // console.log('duration:', end2.diff(start2, 'days'), "tStart:", moment.duration(this.timeStart )._data.hours, 'tFinish:', moment.duration(this.timeFinish )._data.hours,  'start2:', start2.format() ,  'end2:', end2.format() );

                if (moment(tStart).isBefore(tFinish)) { //"<"  console.log("<", 1 )
                    // console.log( "==", this.disabledTimeFinish, '----', this.timeStart, moment.duration(this.timeStart ));
                    this.disabledTimeFinish = this.timeStart;
                } else if (moment(tStart).isSame(tFinish) || moment(tStart).isAfter(tFinish)) { // "==" console.log("==", 2 )
                    this.disabledTimeFinish = this.timeStart;
                    this.timeFinish = moment(tStart).add(1, 'hours').format('HH:mm');
                }
            },

            timeFinishChanged() {
                //console.log('------timeFinishChanged-----', this.disabledTimeStart)
            },

            countryChanged() {
                this.placeStart = {};
                this.placeFinish = {};
                this.placeFinishAutoChangeEnable = true;
                this.validateMainForm();
                this.getCities();
            },

            placeStartChanged() {
                if (this.placeFinishAutoChangeEnable) this.placeFinish = this.placeStart;
                this.validateMainForm();
                this.isLoading = false;
            },

            placeFinishChanged() {
                this.validateMainForm();
                this.isLoading = false;
                this.placeFinishAutoChangeEnable = false;
            },

            validateMainForm() {
                this.disableButtonOnStart = false;
                this.errors = [];
                this.checkCountry();
                this.checkPlaceStart();
                this.checkPlaceFinish();
                if (!this.errors.length) {
//                    this.calculateForm();
                    return true;
                }
                return false;
            },

            getCities() {
                if (this.presetCountry) {
                    var countryId = this.presetCountry.id;
                } else {
                    var countryId = this.countryModel.id;
                }
                this.isLoading = true;
                axios({
                    method: 'get',
                    url: '/cities',
                    params: {
                        'countryId': countryId,
                        'locale': this.locale,
                    }
                }).then((response) => {
                    this.isLoading = false;
                    this.cities = response.data.cities;
                });
            },


            checkCountry() {
                if (!this.countryModel) {
                    if (!this.errors.includes('Выберете страну.')) this.errors.push('Выберете страну.');
                    this.backgroundColorCountry = true;
                } else {
                    this.backgroundColorCountry = false;
                    let index = this.errors.indexOf('Выберете страну.');
                    if (index != -1) {
                        this.errors.splice(index, 1);
                    }
                }
            },

            checkPlaceStart() {
                if (Object.entries(this.placeStart).length === 0 && this.placeStart.constructor === Object) {
                    if (!this.errors.includes('Укажите место подачи.')) this.errors.push('Укажите место подачи.');
                    this.backgroundColorPlaceStart = true;
                } else {
                    this.backgroundColorPlaceStart = false;
                    let index = this.errors.indexOf('Укажите место подачи.');
                    if (index != -1) {
                        this.errors.splice(index, 1);
                    }
                }
            },
            checkPlaceFinish() {
                if (Object.entries(this.placeFinish).length === 0 && this.placeFinish.constructor === Object) {
                    if (!this.errors.includes('Укажите место возврата.')) this.errors.push('Укажите место возврата.');
                    this.backgroundColorPlaceFinish = true;
                } else {
                    this.backgroundColorPlaceFinish = false;
                    let index = this.errors.indexOf('Укажите место возврата.');
                    if (index != -1) {
                        this.errors.splice(index, 1);
                    }
                }
            },
            createLocalizedCountries() {
                for (let item in this.countries) {
                    if (this.locale == 'ua') {
                        this.countries[item].name_country_localized = this.countries[item].name_country;
                    }
                    if (this.locale == 'en') {
                        this.countries[item].name_country_localized = this.countries[item].name_country_en;
                    }
                    if (this.locale == 'ru') {
                        this.countries[item].name_country_localized = this.countries[item].name_country_ru;
                    }
                }
            },
        },


        computed: {
            podborAutoEnable() {
                return (this.errors.length == 0) && (!this.disableButtonOnStart);
            },
        },


        mounted() {
            Settings.defaultLocale = this.locale;

            if (this.getCitiesWhenMounted == true) {
                this.getCities();
            }

            if (this.presetCountry) {
                this.countryModel = this.presetCountry;
                this.countryChanged();
            }
        },


        watch: {
            dateStart() {
                this.dateStartFormatted = this.dateStart;
                this.dateFinishFormatted = this.dateFinish;
                this.timeStartFormatted = this.timeStart;
                this.timeFinishFormatted = this.timeFinish;
            },
            dateFinish() {
                this.dateStartFormatted = this.dateStart;
                this.dateFinishFormatted = this.dateFinish;
                this.timeStartFormatted = this.timeStart;
                this.timeFinishFormatted = this.timeFinish;
            },
            timeStart() {
                this.dateStartFormatted = this.dateStart;
                this.dateFinishFormatted = this.dateFinish;
                this.timeStartFormatted = this.timeStart;
                this.timeFinishFormatted = this.timeFinish;
            },
            timeFinish() {
                this.dateStartFormatted = this.dateStart;
                this.dateFinishFormatted = this.dateFinish;
                this.timeStartFormatted = this.timeStart;
                this.timeFinishFormatted = this.timeFinish;
            }
        },


        created() {
            if (localStorage.currency) {
                let tmp = localStorage.currency;
                localStorage.clear();
                localStorage.currency = tmp;
            } else {
                localStorage.clear();
            }

            this.dateStartColdStart();
            this.createLocalizedCountries();
        },

    }
</script>
<style>
    .vdatetime-popup__header {
        background: #313131 !important;
    }

    optgroup {
        background-color: #fff;
    }
</style>
