<template>
    <div class="container container-relative">

        <div class="selectorCar shadow">
              <!--  <b>{{dateStart}}</b>
                <p>{{dateFinish}}</p>-->
            <div class="vld-parent">
                <loading :active.sync="isLoading"
                         :can-cancel="false"
                         :is-full-page="false">
                </loading>
                <p class="box-title text-center" data-anhor="Подача2">{{ $t('form.header')}}</p>
                    <div class="box-body">
                        <form  novalidate="true">
                            <input type="hidden" name="_token" :value="csrf">
                              <div class="form-group">
                                  <!--<h3>{{country.name_country_ru}}</h3>-->
                                  <label>{{ $t('form.get')}}</label>
                                    <select v-model="placeStart" @change="placeStartChanged"
                                            v-bind:class="{ 'bg-warning': backgroundColorPlaceStart}"
                                            class="form-control">
                                        <option selected disabled value="">{{ $t('form.place_get')}}</option>
                                        <optgroup v-for="(city, key) in cities" :label="key">
                                            <option v-for="(city_location, city_id) in city" :value="{city_id, city_location}">
                                                {{city_location}}
                                            </option>
                                        </optgroup>
                                    </select>
                                  <div class="d-flex justify-content-between  mb-md-3">
                                      <template>
                                          <el-date-picker
                                                  :editable=false
                                                  v-model="dateStart"
                                                  @change="dateStartChanged"
                                                  :picker-options="{
                                                                        disabledDate(time) {
                                                                            const date = new Date();
                                                                            return time.getTime() < (date.getTime() - 3600 * 1000 * 24); // true or false
                                                                        },
                                                                    }"
                                                  format="yyyy-MM-dd"
                                                  value-format="yyyy-MM-dd"
                                                  :clearable=false
                                                  align="left"
                                                  type="date"
                                                  size="mini"
                                                  class="col-7 p-0"
                                                  range-separator="-"
                                                  placeholder="Pick a day">
                                          </el-date-picker>
                                          <el-time-select
                                                  :editable=false
                                                  class="col-5 p-0"
                                                  size="mini"
                                                  :clearable=false
                                                  v-model="timeStart"
                                                  @change="timeStartChanged()"
                                                  :picker-options="{
                                              format: 'HH:mm',
                                              start: '00:00',
                                              end: '23:50',
                                              step: '00:30',
                                            }"
                                                  type="time"
                                                  align="left"
                                                  format="HH:mm"
                                                  value-format="HH:mm">
                                          </el-time-select>
                                      </template>
                                  </div>
                                  <label>{{ $t('form.return')}}</label>

                                  <select v-model="placeFinish" @change="placeFinishChanged"
                                          v-bind:class="{ 'bg-warning': backgroundColorPlaceFinish}"
                                          class="custom-select  pdcb_select  form-control">
                                      <option selected disabled value="">{{ $t('form.place_return')}}</option>
                                      <optgroup v-for="(city, key) in cities" :label="key">
                                          <option v-for="(city_location, city_id) in city" :value="{city_id, city_location}">
                                              {{city_location}}
                                          </option>
                                      </optgroup>
                                  </select>

                                  <div class="d-flex justify-content-between">
                                      <template>
                                          <el-date-picker
                                                  :editable=false
                                                  class="col-7 p-0"
                                                  size="mini"
                                                  :picker-options="pickerOptionsD"
                                                  :clearable=false
                                                  v-model="dateFinish"
                                                  @change="dateFinishChanged"
                                                  align="left"
                                                  type="date"
                                                  format="yyyy-MM-dd"
                                                  value-format="yyyy-MM-dd"
                                                  placeholder="Select date and time">
                                          </el-date-picker>
                                          <el-time-select
                                                  :editable=false
                                                  class="col-5 p-0"
                                                  size="mini"
                                                  :clearable=false
                                                  :picker-options="{
                                                      format: 'HH:mm',
                                                      start: '00:00',
                                                      end: '23:50',
                                                      step: '00:30',
                                                    }"
                                                  v-model="timeFinish"
                                                  @change="timeFinishChanged"
                                                  type="datetime"
                                                  align="left"
                                                  format="HH:mm"
                                                  value-format="HH:mm">
                                          </el-time-select>
                                      </template>
                                  </div>
                                </div>
                          </form>

                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Vue from 'vue'
    import {Datetime} from 'vue-datetime';
    import 'vue-datetime/dist/vue-datetime.css'
    import { Settings } from 'luxon'

    import {eventBus} from "../app";
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    const moment = require('moment');
    require('moment/locale/ru');

    Vue.use(require('vue-moment'), {
        moment
    });

    export default {
        props: {
            presetCity: {},
            country: '',
            countries: {},
            getCitiesWhenMounted: false,
            presetFormParams: {},
        },
        components: {
            Datetime, Loading
        },

        data() {
            return {
                locale: document.documentElement.lang.substr(0, 2),
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                disableButtonOnStart: true,
                isLoading: false,

                cities: '',
                placeStart: {},
                placeFinish: {},
                placeFinishAutoChangeEnable: true,

                //начало
                dateGap: 3,
                dateStart:  '',
                timeStart: '',
                disabledTimeStart: '',
                disabledDatesStart: '',

                //конец
                dateFinish: '',
                timeFinish: '',
                disabledDatesFinish: '',
                disabledTimeFinish: '',

                backgroundColorPlaceStart: false,
                backgroundColorPlaceFinish: false,
                backgroundColorCountry: false,
                backgroundColorDateStart: false,
                backgroundColorDateFinish: false,
                errors: [],
                errorsInAddEmail: [],
                formParams: {},
                carsAfterSearchForm: {},
                dissableRequest: true,
                diffDays: '',
                dayVar: '',
                numberOfTries: 0,

                pickerOptionsD: {
                    disabledDate: (time) => {
                        return  moment(time).isBefore( moment(this.dateStart).add(3, 'day') )
                    }
                },
            }
        },

        methods: {
            dateStartChanged() {
                if (moment(this.dateStart).isBefore(this.dateFinish)) { //"<"
                   //console.log("= <", 2222222222222222);
                    this.dateFinish =  moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD') ;
                    this.disabledDatesFinish =  moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD') ;
                }
                else if (moment(this.dateStart).isSame(this.dateFinish)) { // "=="
                   //console.log("==", 22222222 )
                    this.dateFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD') ;
                    this.disabledDatesFinish =  moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD') ;
                }
                else if ( moment(this.dateStart).isAfter(this.dateFinish)) {// ">"
                   //console.log(">", 33333333 )
                    this.dateFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD') ;
                    this.disabledDatesFinish =  moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD') ;
                }

                this.validateMainForm();
            },

            dateFinishChanged() {
                if (moment(this.dateStart).isBefore(this.dateFinish)) { //"<"
                    this.dateFinish
                }else {
                    this.dateStartChanged();
                }
            },

            timeStartChanged () {
                let tStart = moment.duration(this.timeStart )._data;
                let tFinish = moment.duration(this.timeFinish )._data;
                let start =  moment('2019-06-13 02:19');
                let end =  moment('2019-06-15 12:33');
                let start2 =  moment(`${this.dateStart} ${this.timeStart}`); //   moment(start2).format()   2019-06-16T13:24:00+03:00
                let end2 =  moment(`${this.dateFinish} ${this.timeFinish}`);
                let timeAdd = moment(tStart).add(1, 'hours').format('HH:mm'); //00:10 01:10

                // console.log('duration:', end2.diff(start2, 'days'), "tStart:", moment.duration(this.timeStart )._data.hours, 'tFinish:', moment.duration(this.timeFinish )._data.hours,  'start2:', start2.format() ,  'end2:', end2.format() );

                if ( moment(tStart).isBefore(tFinish) ){ //"<"  console.log("<", 1 )
                    // console.log( "==", this.disabledTimeFinish, '----', this.timeStart, moment.duration(this.timeStart ));
                    this.disabledTimeFinish = this.timeStart;
                }
                else if ( moment(tStart).isSame(tFinish) || moment(tStart).isAfter(tFinish) ){ // "==" console.log("==", 2 )
                    this.disabledTimeFinish = this.timeStart;
                    this.timeFinish = moment(tStart).add(1, 'hours').format('HH:mm');
                }
            },

            timeFinishChanged() {
                let tStart = moment.duration(this.timeStart )._data;
                let tFinish = moment.duration(this.timeFinish )._data;
                let start =  moment('2019-06-13 02:19');
                let end =  moment('2019-06-15 12:33');
                let start2 =  moment(`${this.dateStart} ${this.timeStart}`); //   moment(start2).format()   2019-06-16T13:24:00+03:00
                let end2 =  moment(`${this.dateFinish} ${this.timeFinish}`);
                let timeAdd = moment(tStart).add(1, 'hours').format('HH:mm'); //00:10 01:10

                if ( moment(tStart).isSame(tFinish) || moment(tStart).isAfter(tFinish) ){ // "==" console.log("==", 2 )
                    this.disabledTimeFinish = this.timeStart;
                    this.timeFinish = moment(tStart).add(1, 'hours').format('HH:mm');
                }
            },



            compareDates(date1, date2) {
                let dateF1 = moment(date1).format('YYYY-MM-DD');
                let dateF2 = moment(date2).format('YYYY-MM-DD');
                if (moment(dateF1).isAfter(dateF2)) return ">";
                if (moment(dateF1).isBefore(dateF2)) return "<";
                if (moment(dateF1).isSame(dateF2)) return "==";
            },

            compareTimes(time1, time2) {
                if (moment(time1).isAfter(time2)) return ">";
                if (moment(time1).isBefore(time2)) return "<";
                if (moment(time1).isSame(time2)) return "==";
            },








            tryToGetCalculatedCars() {
                this.numberOfTries += 1;
                if (this.numberOfTries == 1){
                    setTimeout(() => {
                        this.numberOfTries = 0;
                        this.getCalculatedCars();
                    },  150);
                }
            },

            getCalculatedCars() {
              this.dateFinish =  this.dateFinish ? this.dateFinish : moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD')
                this.isLoading = true;
                axios({
                    method: 'get',
                    url:    '/get-calculated-cars',
                    params: {
                        'dateStartFormatted': this.dateStart,
                        'dateFinishFormatted': this.dateFinish,
                        'timeStartFormatted': this.timeStart,
                        'timeFinishFormatted': this.timeFinish,
                        'placeStart': this.placeStart.city_id,
                        'placeFinish': this.placeFinish.city_id,
                        'locale': this.locale,
                        'currency': localStorage.currency,
                    }
                }).then((response) => {
                    this.isLoading = false;
                    if (localStorage.sortBy !== undefined && localStorage.sortBy !== null){
                        if (localStorage.sortBy == this.$t('filters.sortA')){
                            this.carsAfterSearchForm = this.sortByPriceAsc(response.data.catalog);
                            localStorage.cars = JSON.stringify(this.carsAfterSearchForm);
                        }
                        if (localStorage.sortBy == this.$t('filters.sortD')){
                            this.carsAfterSearchForm = this.sortByPriceDesc(response.data.catalog);
                            localStorage.cars = JSON.stringify(this.carsAfterSearchForm);
                        }
                    }else{
                        this.carsAfterSearchForm = this.sortByPriceAsc(response.data.catalog);
                        localStorage.cars = JSON.stringify(this.carsAfterSearchForm);
                    }

                    this.diffDaysCalculate();

                });
            },


            tryToGetAllCars(city_id) {
                this.numberOfTries += 1;
                if (this.numberOfTries == 1){
                    setTimeout(() => {
                        this.numberOfTries = 0;
                        this.getAllCars(city_id);
                    },  150);
                }
            },

            tryToGetAllCarsOfCountry() {
                this.numberOfTries += 1;
                if (this.numberOfTries == 1){
                    setTimeout(() => {
                        this.numberOfTries = 0;
                        this.getAllCarsOfCountry();
                    },  150);
                }
            },

            tryToGetAllCarsOfCity() {
                this.numberOfTries += 1;
                if (this.numberOfTries == 1){
                    setTimeout(() => {
                        this.numberOfTries = 0;
                        this.getAllCarsOfCity(this.placeStart.city_id);
                    },  150);
                }
            },

            countryChanged() {
                this.placeStart = {},
                    this.placeFinish = {},
                    this.placeFinishAutoChangeEnable = true;
                this.validateMainForm();
                this.getCities();
//                this.updateFormParams();
            },

            placeStartChanged() {
                if (this.placeFinishAutoChangeEnable) this.placeFinish = this.placeStart;
                this.validateMainForm();
                this.isLoading = false;
//                this.updateFormParams();
            },

            placeFinishChanged() {
                this.validateMainForm();
                this.isLoading = false;
                this.placeFinishAutoChangeEnable = false;
//                this.updateFormParams();
            },


            getCities() {
                this.isLoading = true;
                axios({
                    method: 'get',
                    url:    '/cities',
                    params: {
                        'countryId': this.country.id,
                        'locale': this.locale,
                    }
                }).then((response) => {
                    this.isLoading = false;
                    this.cities = response.data.cities;
                    for (let cityPlaces in this.cities){
                        for (let place in this.cities[cityPlaces]){
                          if (place == this.placeStart.city_id){
                              localStorage.placeStart = JSON.stringify({city_id: place, city_location: this.cities[cityPlaces][place]})
                              this.placeStart = {city_id: place, city_location: this.cities[cityPlaces][place]};
                          }
                          if (place == this.placeFinish.city_id){
                              localStorage.placeFinish = JSON.stringify({city_id: place, city_location: this.cities[cityPlaces][place]})
                              this.placeFinish = {city_id: place, city_location: this.cities[cityPlaces][place]};
                          }
                        }
                    }
                });
            },

            validateMainForm() {
                this.disableButtonOnStart = false;
                this.errors = [];
                this.checkCountry();
                this.checkPlaceStart();
                this.checkPlaceFinish();
                this.checkDateStart();
                // this.checkDateFinish();
                if (!this.errors.length) {
//                    this.calculateForm();
                    return true;
                }
                return false;
            },

            checkCountry() {
                if (!this.country) {
                    if (!this.errors.includes('Выберете страну.'))this.errors.push('Выберете страну.');
                    this.backgroundColorCountry =  true;
                } else{
                    this.backgroundColorCountry =  false;
                    let index = this.errors.indexOf('Выберете страну.');
                    if (index != -1){
                        this.errors.splice(index,1);
                    }
                }
            },

            checkPlaceStart() {
                if (this.placeStart.length == 0) {
                    if (!this.errors.includes('Укажите место подачи.'))this.errors.push('Укажите место подачи.');
                    this.backgroundColorPlaceStart =  true;
                } else{
                    this.backgroundColorPlaceStart =  false;
                    let index = this.errors.indexOf('Укажите место подачи.');
                    if (index != -1){
                        this.errors.splice(index,1);
                    }
                }
            },

            checkPlaceFinish() {
                if (this.placeFinish.length == 0) {
                    if (!this.errors.includes('Укажите место возврата.'))this.errors.push('Укажите место возврата.');
                    this.backgroundColorPlaceFinish =  true;
                } else{
                    this.backgroundColorPlaceFinish =  false;
                    let index = this.errors.indexOf('Укажите место возврата.');
                    if (index != -1){
                        this.errors.splice(index,1);
                    }
                }
            },

            checkDateStart() {
                if (this.dateStart == '') {
                    if (!this.errors.includes('Укажите дату старта.'))this.errors.push('Укажите дату старта.');
                    this.backgroundColorDateStart =  true;
                } else{
                    this.backgroundColorDateStart =  false;
                    let index = this.errors.indexOf('Укажите дату старта.');
                    if (index != -1){
                        this.errors.splice(index,1);
                    }
                }
            },

            checkDateFinish() {
                if (this.dateFinish == '') {
                    if (!this.errors.includes('Укажите дату возврата.'))this.errors.push('Укажите дату возврата.');
                    this.backgroundColorDateFinish =  true;
                } else{
                    this.backgroundColorDateFinish =  false;
                    let index = this.errors.indexOf('Укажите дату возврата.');
                    if (index != -1){
                        this.errors.splice(index,1);
                    }
                }
            },


            sortByPriceAsc(catalog) {
                return Object.values(catalog).sort(function(a,b){return a.calculated-b.calculated})
            },
            sortByPriceDesc(catalog) {
                return Object.values(catalog).sort(function(a,b){return b.calculated-a.calculated})
            },

            getAllCarsOfCountry() {
                this.isLoading = true;
                axios({
                    method: 'get',
                    url:    '/get-all-cars-of-country',
                    params: {
                        'country_id': this.country.id,
                        'locale': this.locale,
                        'curr': localStorage.currency ? JSON.parse(localStorage.currency).id : 6,
                    }
                }).then((response) => {
                    this.isLoading = false;
                    this.carsAfterSearchForm = response.data.catalog;
                    localStorage.cars = JSON.stringify(response.data.catalog);
                });
            },

            getAllCarsOfCity() {
                this.isLoading = true;
                axios({
                    method: 'get',
                    url:    '/get-all-cars-of-city',
                    params: {
                        'country_id': this.country.id,
                        'city_id': this.placeStart.city_id,
                        'locale': this.locale,
                        'curr': localStorage.currency ? JSON.parse(localStorage.currency).id : 6,
                    }
                }).then((response) => {
                    this.isLoading = false;
                    this.carsAfterSearchForm = response.data.catalog;
                    localStorage.cars = JSON.stringify(response.data.catalog);
                });
            },

            diffDaysCalculate() {
                this.diffDays = moment(this.dateFinish).diff(moment(this.dateStart), 'days');
                if (this.compareDates(this.dateStart, this.dateFinish) == '==') {
                    this.diffDays = moment(this.dateFinish).diff(moment(this.dateStart), 'days') + 1;
                } else {
                    if ((this.compareTimes(this.timeStart, this.timeFinish) == '<')) {
                        this.diffDays = moment(this.dateFinish).diff(moment(this.dateStart), 'days') + 1;
                    }
                };

                let lastChar =  this.diffDays.toString().substring(this.diffDays.toString().length-1);
                if (this.locale == 'ru') {
                    if (lastChar === '1') {
                        this.dayVar = "день"
                    } else {
                        if (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && ((this.diffDays.toString().length == 1))
                            || (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && (this.diffDays.toString().length == 2) && ((this.diffDays != 12) && (this.diffDays != 13) && (this.diffDays != 14)))) {
                            this.dayVar = "дня"
                        } else {
                            this.dayVar = "дней"
                        }
                    }
                }
                if (this.locale == 'ua') {
                    if (lastChar === '1') {
                        this.dayVar = "день"
                    } else {
                        if (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && ((this.diffDays.toString().length == 1))
                            || (((lastChar === '2') || (lastChar === '3') || (lastChar === '4')) && (this.diffDays.toString().length == 2) && ((this.diffDays != 12) && (this.diffDays != 13) && (this.diffDays != 14)))) {
                            this.dayVar = "дня"
                        } else {
                            this.dayVar = "днiв"
                        }
                    }
                }
                if (this.locale == 'en') {
                    if (lastChar === '1') {
                        this.dayVar = "day"
                    } else {
                        this.dayVar = "days"
                    }
                }
                localStorage.diffDays = this.diffDays;
                localStorage.dayVar = this.dayVar;
            },
        },

        computed: {
        },
        mounted() {
            Settings.defaultLocale =  this.locale;
            setTimeout(() => {this.dissableRequest = false}, 500);
            setTimeout(() => {localStorage.country = JSON.stringify(this.country)}, 500);

            if (this.getCitiesWhenMounted == true){
                this.getCities();
                if (!this.presetCity){
                  console.log('Автопрокат страны',  1);
                    if ((this.presetFormParams === '')||(localStorage.placeStart)) {
                        // console.log('AAAA',  JSON.parse(localStorage.placeStart)  );
                        this.placeStart = localStorage.placeStart ? JSON.parse(localStorage.placeStart) : '';
                        this.placeFinish = localStorage.placeFinish ? JSON.parse(localStorage.placeFinish) : '';

                        this.dateStart =  localStorage.dateStart ? moment(localStorage.dateStart).add(1, 'day').format('YYYY-MM-DD') : moment().format('YYYY-MM-DD') || moment().format('YYYY-MM-DD');//дата начвла
                        this.dateFinish = localStorage.dateFinish ? moment(localStorage.dateFinish).format('YYYY-MM-DD') :  moment().format('YYYY-MM-DD') || moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');

                        this.timeStart = localStorage.timeStart ? localStorage.timeStart : moment().format('HH:mm');
                        this.timeFinish = localStorage.timeFinish ? localStorage.timeFinish : moment().format('HH:mm');
                        //console.log(this.dateStart); console.log(this.dateFinish);

                    }else{
                     //    console.log('BBBBBB',  2 );
                        this.placeStart =  JSON.parse(this.presetFormParams.placeStart);
                        this.placeFinish = JSON.parse(this.presetFormParams.placeFinish);

                        this.dateStart =  localStorage.dateStart ? localStorage.dateStart :  this.presetFormParams.dateStart || moment().format('YYYY-MM-DD');
                        this.dateFinish = localStorage.dateFinish  ? localStorage.dateFinish : this.presetFormParams.dateFinish || moment().format();

                        this.timeStart =  this.presetFormParams.timeStart;
                        this.timeFinish = this.presetFormParams.timeFinish;
                        //console.log(this.dateStart); console.log(this.dateFinish);
                        localStorage.dateStart = this.dateStart;
                    }
                }else {
                   // console.log('Автопрокат + город', moment().format('HH:mm'));

                        let cityLocation = '';
                        if (this.locale == 'ru'){
                            cityLocation = this.presetCity.name;
    //                        this.dateStart = 'Дата получения'
    //                        this.dateFinish = 'Дата возврата'
                            this.dateStart = ''
                            this.dateFinish = ''
                        }
                        if (this.locale == 'ua'){
                            cityLocation = this.presetCity.name_uk;
    //                        this.dateStart = 'Дата отримання'
    //                        this.dateFinish = 'Дата повернення'
                            this.dateStart = ''
                            this.dateFinish = ''
                        }
                        if (this.locale == 'en'){
                            cityLocation = this.presetCity.name_en;
    //                        this.dateStart = 'Get date'
    //                        this.dateFinish = 'Return date'
                            this.dateStart = ''
                            this.dateFinish = ''
                        }


                /*  this.dateStart =  localStorage.dateStart ? moment(localStorage.dateStart).format('YYYY-MM-DD') : moment().format('YYYY-MM-DD') || moment().format('YYYY-MM-DD');
                  this.dateFinish = localStorage.dateFinish ? moment(localStorage.dateFinish).format('YYYY-MM-DD') :  moment().format('YYYY-MM-DD') || moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD'); */
                  this.dateStart =  localStorage.dateStart ? moment(localStorage.dateStart).format('YYYY-MM-DD') : moment().format('YYYY-MM-DD') || moment().format('YYYY-MM-DD');
                  this.dateFinish = localStorage.dateFinish ? moment(localStorage.dateFinish).format('YYYY-MM-DD') :  moment().format('YYYY-MM-DD') || moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                        this.timeStart = localStorage.timeStart ? localStorage.timeStart : moment().format('HH:mm');
                        this.timeFinish = localStorage.timeFinish ? localStorage.timeFinish : moment().format('HH:mm');
                        this.placeStart = {city_id: this.presetCity.id, city_location: cityLocation};
                        this.placeFinish = {city_id: this.presetCity.id, city_location: cityLocation};
                        localStorage.placeStart =  this.placeStart;
                        localStorage.placeFinish = this.placeFinish;

                }
                //this.updateCitiesInCaseOfLanguageChange();
                this.dateStartChanged();
            };
            this.checkPlaceStart();
            this.checkPlaceFinish();
            this.checkDateStart();
          //  this.checkDateFinish();
            if (this.errors.length == 0){
                this.tryToGetCalculatedCars();
            }
            this.diffDaysCalculate();
        },

        watch: {
            errors(newValue) {
                localStorage.errors = JSON.stringify(newValue);
                setTimeout(() => {eventBus.$emit('updateCarsAfterSearchForm');}, 250);
            },
            placeStart(newValue) {
                localStorage.placeStart = JSON.stringify(newValue);
                if ((this.errors.length == 0)&&(!this.dissableRequest)) {
                    this.tryToGetCalculatedCars();
                }else{
                    this.tryToGetAllCarsOfCity();
                }
            },
            placeFinish(newValue) {
                localStorage.placeFinish = JSON.stringify(newValue);
                if ((this.errors.length == 0)&&(!this.dissableRequest)) {
                    this.tryToGetCalculatedCars();
                }else{
                    this.tryToGetAllCarsOfCity();
                }
            },
            dateStart(newValue) {
                localStorage.dateStart =newValue;
                if ((this.errors.length == 0)&&(!this.dissableRequest)) {
                    this.tryToGetCalculatedCars();
                }
            },
            dateFinish(newValue) {
                localStorage.dateFinish = newValue;
                if ((this.errors.length == 0)&&(!this.dissableRequest)) {
                    this.tryToGetCalculatedCars();
                }
            },
            timeStart(newValue) {
                localStorage.timeStart = newValue;
                if ((this.errors.length == 0)&&(!this.dissableRequest)) {
                    this.tryToGetCalculatedCars();
                }
            },
            timeFinish(newValue) {
                localStorage.timeFinish = newValue;
                if ((this.errors.length == 0)&&(!this.dissableRequest)) {
                    this.tryToGetCalculatedCars();
                }
            },
            carsAfterSearchForm(newValue) {
                setTimeout(() => {eventBus.$emit('updateCarsAfterSearchForm')}, 500);
            },
        },

        created() {
            eventBus.$on('updateCarsAfterSearchFormModal', () => {
                this.placeStart = localStorage.placeStart ? JSON.parse(localStorage.placeStart) : '';
                this.placeFinish = localStorage.placeFinish ? JSON.parse(localStorage.placeFinish) : '';
                this.dateStart =  localStorage.dateStart ? localStorage.dateStart :  '';
                this.dateFinish = localStorage.dateFinish ? localStorage.dateFinish : '';
                this.timeStart = localStorage.timeStart ? localStorage.timeStart :   moment().format('HH:mm');
                this.timeFinish = localStorage.timeFinish ? localStorage.timeFinish :  moment().format('HH:mm');
                //console.log(this.dateStart); console.log(this.dateFinish);
                this.dateStartChanged();
                this.checkPlaceStart();
                this.checkPlaceFinish();
                this.checkDateStart();
              //  this.checkDateFinish();
                setTimeout(() => {eventBus.$emit('updateCarsAfterSearchForm');}, 50);
            }),

            eventBus.$on('currencyChanged', (currency) => {
                // console.log('cirrency');
                // console.log( localStorage.currency);
                if ((this.errors.length == 0)&&(!this.dissableRequest)) {
                    this.tryToGetCalculatedCars();
                }else{
                    this.tryToGetAllCarsOfCountry();
                }

            }),

            eventBus.$on('sortBy', (sortBy) => {
                if (sortBy == this.$t('filters.sortA')){
                    this.carsAfterSearchForm = this.sortByPriceAsc(JSON.parse(localStorage.cars));
                    localStorage.cars = JSON.stringify(this.carsAfterSearchForm);
                }
                if (sortBy == this.$t('filters.sortD')){
                    this.carsAfterSearchForm = this.sortByPriceDesc(JSON.parse(localStorage.cars));
                    localStorage.cars = JSON.stringify(this.carsAfterSearchForm);
                }

            })

        },

    }
</script>
<style>
    optgroup{
        background-color: #fff;
    }
</style>
