<template>
    <div class="container container-relative"><!-- Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header pb-0">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <p class="box-title text-center">{{carName}}</p>
                        </h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="p-0">

                            <div class="vld-parent">
                                <loading :active.sync="isLoading"
                                         :can-cancel="false"
                                         :is-full-page="false">
                                </loading>

                                <div class="box-body">
                                    <form novalidate="true">
                                        <input type="hidden" name="_token" :value="csrf">
                                        <div class="form-group">

                                            <!--<h3>{{country.name_country_ru}}</h3>-->
                                            <div class="mb-3">
                                                <label>{{ $t('form.get')}}</label>

                                                <select v-model="placeStart" @change="placeStartChanged()"
                                                        v-bind:class="{ 'bg-warning': backgroundColorPlaceStart}"
                                                        class="form-control">
                                                    <option selected disabled value="">{{ $t('form.place_get')}}
                                                    </option>
                                                    <optgroup v-for="(city, key) in cities" :label="key">
                                                        <option v-for="(city_location, city_id) in city"
                                                                :value="{city_id, city_location}">
                                                            {{city_location}}
                                                        </option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div class="d-flex justify-content-between  mb-md-3">
                                                <template>
                                                    <el-date-picker
                                                            v-model="dateStart"
                                                            @change="dateStartChanged"
                                                            :picker-options="{
                                                                                disabledDate(time) {
                                                                                    const date = new Date();
                                                                                    return time.getTime() < (date.getTime() - 3600 * 1000 * 24); // true or false
                                                                                },
                                                                            }"
                                                            format="yyyy-MM-dd"
                                                            value-format="yyyy-MM-dd"
                                                            :clearable=false
                                                            align="left"
                                                            type="date"
                                                            size="mini"
                                                            popper-class="col-7 p-0"
                                                            range-separator="-"
                                                            placeholder="Pick a day">
                                                    </el-date-picker>
                                                    <el-time-select
                                                            class="col-5 p-0"
                                                            size="mini"
                                                            :clearable=false
                                                            v-model="timeStart"
                                                            @change="timeStartChanged"
                                                            :picker-options="{
                                                                              format: 'HH:mm',
                                                                              start: '00:00',
                                                                              end: '23:50',
                                                                              step: '00:10',
                                                                            }"
                                                            type="time"
                                                            align="left"
                                                            format="HH:mm"
                                                            value-format="HH:mm">
                                                    </el-time-select>
                                                </template>
                                            </div>
                                            <div class="mb-3">
                                                <label>{{ $t('form.return')}}</label>

                                                <select v-model="placeFinish" @change="placeFinishChanged()"
                                                        v-bind:class="{ 'bg-warning': backgroundColorPlaceFinish}"
                                                        class="pdcb_select  form-control">
                                                    <option selected disabled value="">{{ $t('form.place_return')}}
                                                    </option>
                                                    <optgroup v-for="(city, key) in cities" :label="key">
                                                        <option v-for="(city_location, city_id) in city"
                                                                :value="{city_id, city_location}">
                                                            {{city_location}}
                                                        </option>
                                                    </optgroup>
                                                </select>
                                            </div>

                                            <div class="d-flex justify-content-between mb-3">
                                                <template>
                                                    <el-date-picker
                                                            class="col-7 p-0"
                                                            size="mini"
                                                            :picker-options="pickerOptionsD"
                                                            :clearable=false
                                                            v-model="dateFinish"
                                                            @change="dateFinishChanged"
                                                            align="left"
                                                            type="date"
                                                            format="yyyy-MM-dd"
                                                            value-format="yyyy-MM-dd"
                                                            placeholder="Select date and time"
                                                            default-time="12:00">
                                                    </el-date-picker>
                                                    <el-time-select
                                                            class="col-5 p-0"
                                                            size="mini"
                                                            :clearable=false
                                                            :picker-options="{
                                                                              format: 'HH:mm',
                                                                              start: '00:00',
                                                                              end: '23:50',
                                                                              step: '00:10',
                                                                            }"
                                                            v-model="timeFinish"
                                                            @change="timeFinishChanged"
                                                            type="datetime"
                                                            align="left"
                                                            format="HH:mm"
                                                            value-format="HH:mm">
                                                    </el-time-select>
                                                </template>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>


                    <form v-if="(errors.length == 0)&&car.hasOwnProperty('calculated')" method="GET" :action="orderForm"
                          novalidate="true">
                        <!--<input type="hidden" name="_token" :value="csrf">-->
                        <!--<input type="hidden" name="params" :value="JSON.stringify(this.params)">-->
                        <input type="hidden" name="car" :value="JSON.stringify(car)">
                        <button type="submit" class="btn btn-primary  btn-lg btn-block rounded-0">
                            {{ $t('form.button_order')}}
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</template>
<script>

    import Vue from 'vue'
    import {Datetime} from 'vue-datetime';
    import 'vue-datetime/dist/vue-datetime.css'
    import {Settings} from 'luxon'
    import {eventBus} from "../app";
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';

    const moment = require('moment');
    require('moment/locale/ru');

    Vue.use(require('vue-moment'), {
        moment
    });

    let curDate = moment().format('YYYY-MM-DD');
    let curTime = moment().format('HH:mm');

    export default {
        props: {
            presetCity: {},
            country: '',
            countries: {},
            getCitiesWhenMounted: false,
            presetFormParams: {},
            isModal: '',
        },
        components: {
            Datetime, Loading
        },

        data: function () {
            return {
                locale: document.documentElement.lang.substr(0, 2),
                orderForm: "/" + document.documentElement.lang.substr(0, 2) + "/order-form",
                car: {},
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                disableButtonOnStart: true,
                isLoading: false,
                dateGap: 3,

                cities: '',
                placeStart: {},
                placeFinish: {},
                placeFinishAutoChangeEnable: true,

                dateStart: '',
                timeStart: '',
                disabledTimeStart: '',
                disabledDatesStart: '',

                dateFinish: '',
                timeFinish: '',
                disabledDatesFinish: '',
                disabledTimeFinish: '',

                backgroundColorPlaceStart: false,
                backgroundColorPlaceFinish: false,
                backgroundColorCountry: false,
                backgroundColorDateStart: false,
                backgroundColorDateFinish: false,
                errors: [],
                errorsInAddEmail: [],
                formParams: {},
                carsAfterSearchForm: {},
                dissableRequest: true,
                carName: '',
                numberOfTries: 0,

                pickerOptionsD: {
                    disabledDate: (time) => {
                        return moment(time).isBefore(moment(this.dateStart).add(1, 'day'))
                    }
                },
            }
        },

        methods: {
            tryToGetCalculatedCars: function () {
                this.numberOfTries += 1;
                if (this.numberOfTries == 1) {
                    setTimeout(() => {
                        this.numberOfTries = 0;
                        this.getCalculatedCars();
                    }, 150);
                }
            },


            countryChanged: function () {
                this.placeStart = {},
                    this.placeFinish = {},
                    this.placeFinishAutoChangeEnable = true;
                this.validateMainForm();
                this.getCities();
//                this.updateFormParams();
            },

            placeStartChanged: function () {
                if (this.placeFinishAutoChangeEnable) this.placeFinish = this.placeStart;
                this.validateMainForm();
                this.isLoading = false;
//                this.updateFormParams();
            },

            placeFinishChanged: function () {
                this.validateMainForm();
                this.isLoading = false;
                this.placeFinishAutoChangeEnable = false;
//                this.updateFormParams();
            },

            dateStartChanged() {
                if (moment(this.dateStart).isBefore(this.dateFinish)) { //"<"
                    // console.log("<", 11111111 )
                    this.dateStart = moment(this.dateStart).format('YYYY-MM-DD');
                    this.dateFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                    this.disabledDatesFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                } else if (moment(this.dateStart).isSame(this.dateFinish)) { // "=="
                    //  console.log("==", 22222222 )
                    this.dateFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                    this.disabledDatesFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                } else if (moment(this.dateStart).isAfter(this.dateFinish)) {// ">"
                    // console.log(">", 33333333 )
                    this.dateFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                    this.disabledDatesFinish = moment(this.dateStart).add(this.dateGap, 'day').format('YYYY-MM-DD');
                }

                console.log('dateStartChanged: ', 'D-',this.dateStart,'T-', this.timeStart, 'D-', this.presetFormParams.dateFinish, 'T-',this.timeFinish, "dateStartFormatted: ", 'DSF-',this.dateStartFormatted, 'DFF-',this.dateFinishFormatted)

                            if ((this.compareDates(this.dateStart, curDate) == '==') && (this.compareDates(this.dateStart, this.dateFinish) == '==')) {
                                this.disabledTimeStart = curTime;
                                if (this.compareTimes(this.timeStart, curTime) == '<') {
                                    this.timeStart = curTime;
                                }
                                this.disabledTimeFinish = this.timeStart;
                                if (this.compareTimes(this.timeStart, this.timeFinish) == '>') {
                                    this.timeFinish = moment(this.timeStart).format('HH:mm');
                                }
                            }
                            if ((this.compareDates(this.dateStart, curDate) == '==') && (this.compareDates(this.dateStart, this.dateFinish) !== '==')) {
                                this.disabledTimeStart = curTime;
                                if (this.compareTimes(this.timeStart, curTime) == '<') {
                                    this.timeStart = curTime;
                                }
                                this.disabledTimeFinish = '';
                            }
                            if ((this.compareDates(this.dateStart, curDate) !== '==') && (this.compareDates(this.dateStart, this.dateFinish) !== '==')) {
                                this.disabledTimeStart = '';
                                this.disabledTimeFinish = '';
                            }
                            if ((this.compareDates(this.dateStart, curDate) !== '==') && (this.compareDates(this.dateStart, this.dateFinish) == '==')) {
                                this.disabledTimeStart = "";
                                this.disabledTimeFinish = this.timeStart;
                                if ((this.compareTimes(this.timeStart, this.timeFinish) == '<')) {
                                    this.timeFinish = moment(this.timeStart).format('HH:mm');
                                }
                            }
                this.validateMainForm();

//                this.updateFormParams();

            },

            dateFinishChanged() {
                if (moment(this.dateStart).isBefore(this.dateFinish)) { //"<"
                    this.dateFinish =  moment(this.dateFinish).format('YYYY-MM-DD') ;
                }else {
                    this.dateStartChanged();
                }

//                this.updateFormParams();
            },

            timeStartChanged() {
                if ((this.compareTimes(this.timeStart, this.timeFinish) == '>') && ((this.compareDates(this.dateStart, this.dateFinish) == '=='))) {
                    this.disabledTimeFinish = this.timeStart;
                    this.timeFinish = moment(this.timeStart).format('HH:mm');
                }
                // if ((this.compareDates(this.dateStart, this.dateFinish) == '==')) {
                //     this.disabledTimeFinish = this.timeStart;
                // }
//                this.updateFormParams();
            },

            timeFinishChanged: function () {
//                this.updateFormParams();
            },

            // getHours(time) {
            //   console.log('getHours--------', time)
            //     if (time.substr(1, 1) !== ':') {
            //         return Number(time.substr(0, 2))
            //     } else {
            //         return Number(time.substr(1, 1))
            //     }
            // },
            //
            // getMinutes: function (time) {
            //   console.log('getMinutes--------', time)
            //     if (time.substr(1, 1) !== ':') {
            //         return Number(time.substr(3, 2))
            //     } else {
            //         return Number(time.substr(2, 2))
            //     }
            // },

            compareDates(date1, date2) {
                let dateF1 = moment(date1).format('MM/DD/YYYY');
                let dateF2 = moment(date2).format('MM/DD/YYYY');
                if (moment(dateF1).isAfter(dateF2)) return ">";
                if (moment(dateF1).isBefore(dateF2)) return "<";
                if (moment(dateF1).isSame(dateF2)) return "==";
            },

            compareTimes: function (time1, time2) {
                if (moment(time1).isAfter(time2)) return ">";
                if (moment(time1).isBefore(time2)) return "<";
                if (moment(time1).isSame(time2)) return "==";
            },

            getCities () {
                this.isLoading = true;
                axios({
                    method: 'get',
                    url: '/cities',
                    params: {
                        'countryId': this.country.id,
                        'locale': this.locale,
                    }
                }).then((response) => {
                    this.isLoading = false;
                    this.cities = response.data.cities;
                });
            },

            validateMainForm() {
              this.disableButtonOnStart = false;
                this.errors = [];
                this.checkCountry();
                this.checkPlaceStart();
                this.checkPlaceFinish();
                this.checkDateStart();
                this.checkDateFinish();
                if (!this.errors.length) {
//                    this.calculateForm();
                    return true;
                }
                return false;
            },

            checkDateStart() {
                if (this.dateStart == '') {
                    if (!this.errors.includes('Укажите дату старта.')) this.errors.push('Укажите дату старта.');
                    this.backgroundColorDateStart = true;
                } else {
                    this.backgroundColorDateStart = false;
                    let index = this.errors.indexOf('Укажите дату старта.');
                    if (index != -1) {
                        this.errors.splice(index, 1);
                    }
                }
            },

            checkDateFinish() {
                if (this.dateFinish == '') {
                    if (!this.errors.includes('Укажите дату возврата.')) this.errors.push('Укажите дату возврата.');
                    this.backgroundColorDateFinish = true;
                } else {
                    this.backgroundColorDateFinish = false;
                    let index = this.errors.indexOf('Укажите дату возврата.');
                    if (index != -1) {
                        this.errors.splice(index, 1);
                    }
                }
            },

            checkCountry() {
                if (!this.country) {
                    if (!this.errors.includes('Выберете страну.')) this.errors.push('Выберете страну.');
                    this.backgroundColorCountry = true;
                } else {
                    this.backgroundColorCountry = false;
                    let index = this.errors.indexOf('Выберете страну.');
                    if (index != -1) {
                        this.errors.splice(index, 1);
                    }
                }
            },

            checkPlaceStart() {
                if (this.placeStart.length == 0) {
                    if (!this.errors.includes('Укажите место подачи.')) this.errors.push('Укажите место подачи.');
                    this.backgroundColorPlaceStart = true;
                } else {
                    this.backgroundColorPlaceStart = false;
                    let index = this.errors.indexOf('Укажите место подачи.');
                    if (index != -1) {
                        this.errors.splice(index, 1);
                    }
                }
            },

            checkPlaceFinish() {
                if (this.placeFinish.length == 0) {
                    if (!this.errors.includes('Укажите место возврата.')) this.errors.push('Укажите место возврата.');
                    this.backgroundColorPlaceFinish = true;
                } else {
                    this.backgroundColorPlaceFinish = false;
                    let index = this.errors.indexOf('Укажите место возврата.');
                    if (index != -1) {
                        this.errors.splice(index, 1);
                    }
                }
            },

            getCalculatedCars () {
               console.log("11111 SearchFormModal");
                this.isLoading = true;
                axios({
                    method: 'get',
                    url: '/get-calculated-cars',
                    params: {
                        'dateStartFormatted': moment(this.dateStart).format('YYYY-MM-DD'),
                        'dateFinishFormatted': moment(this.dateFinish).format('YYYY-MM-DD'),
                        'timeStartFormatted': moment(this.timeStart).format('HH:mm'),
                        'timeFinishFormatted': moment(this.timeFinish).format('HH:mm'),
                        'placeStart': this.placeStart.city_id,
                        'placeFinish': this.placeFinish.city_id,
                    }
                }).then((response) => {
                    this.isLoading = false;
                    this.carsAfterSearchForm = response.data.catalog;
                    localStorage.cars = JSON.stringify(response.data.catalog);

                });
            },

            getCar() {
                let carId = Number(JSON.parse(localStorage.car).id);
                let cars = JSON.parse(localStorage.carsAfterFiltration);
                for (var carKey in cars) {
                    if (Number(cars[carKey].id) == carId) {
                        localStorage.car = JSON.stringify(cars[carKey]);
                        this.car = cars[carKey];
                    }

                }
            },

        },
        mounted() {
            Settings.defaultLocale = this.locale;
            setTimeout(() => {
                this.dissableRequest = false
            }, 500);
            setTimeout(() => {
                localStorage.country = JSON.stringify(this.country)
            }, 500);
//
        },

        watch: {
            errors(newValue) {
                localStorage.errors = JSON.stringify(newValue);
                setTimeout(() => {
                    eventBus.$emit('updateCarsAfterSearchFormModal');
                }, 250);
                if (this.errors.length == 0) {
                    setTimeout(() => {
                        this.getCar();
                    }, 3000);
                }

            },
            placeStart(newValue) {
                localStorage.placeStart = JSON.stringify(newValue);
                if (this.errors.length == 0) {
                    setTimeout(() => {
                        this.getCar();
                    }, 1000);
                }
            },
            placeFinish(newValue) {
                localStorage.placeFinish = JSON.stringify(newValue);
                if (this.errors.length == 0) {
                    setTimeout(() => {
                        this.getCar();
                    }, 1000);
                }
            },
            dateStart(newValue) {
                localStorage.dateStart = newValue;
                if (this.errors.length == 0) {
                    setTimeout(() => {
                        this.getCar();
                    }, 1000);
                }
            },
            dateFinish(newValue) {
                localStorage.dateFinish = newValue;
                if (this.errors.length == 0) {
                    setTimeout(() => {
                        this.getCar();
                    }, 1000);
                }
            },
            timeStart(newValue) {
                localStorage.timeStart = newValue;
                if (this.errors.length == 0) {
                    setTimeout(() => {
                        this.getCar();
                    }, 1000);
                }
            },
            timeFinish(newValue) {
                localStorage.timeFinish = newValue;
                if (this.errors.length == 0) {
                    setTimeout(() => {
                        this.getCar();
                    }, 1000);
                }
            },
            carsAfterSearchForm(newValue) {
                setTimeout(() => {
                    eventBus.$emit('updateCarsAfterSearchForm')
                }, 500);
                if (this.errors.length == 0) {
                    // setTimeout(() => {this.getCar();}, 1000);
                }
            },
        },

        created() {
            eventBus.$on('lounchModal', () => {
              $('#searchModal').modal();
                this.carName = JSON.parse(localStorage.car).name_en;
                this.getCities();
                if (!this.presetCity) {
                    if ((this.presetFormParams == '') || (localStorage.placeStart)) {
                        this.placeStart = localStorage.placeStart ? JSON.parse(localStorage.placeStart) : '';
                        this.placeFinish = localStorage.placeFinish ? JSON.parse(localStorage.placeFinish) : '';
                        this.dateStart = localStorage.dateStart ? localStorage.dateStart : moment().add(1, 'day').format('YYYY-MM-DD'); //дата начвла
                        this.dateFinish = localStorage.dateFinish ? localStorage.dateFinish : moment(this.dateStart).add(3, 'day').format('YYYY-MM-DD');
                        this.timeStart = localStorage.timeStart ? localStorage.timeStart : moment().format('HH:mm');
                        this.timeFinish = localStorage.timeFinish ? localStorage.timeFinish : moment().format('HH:mm');
                    } else {
                        this.placeStart = JSON.parse(this.presetFormParams.placeStart);
                        this.placeFinish = JSON.parse(this.presetFormParams.placeFinish);
                        this.dateStart = this.presetFormParams.dateStart;
                        this.dateFinish = this.presetFormParams.dateFinish;
                        this.timeStart = this.presetFormParams.timeStart;
                        this.timeFinish = this.presetFormParams.timeFinish;
                    }
                } else {
                  // Модалка датапикер №3
                    this.placeStart = localStorage.placeStart ? JSON.parse(localStorage.placeStart) : '';
                    this.placeFinish = localStorage.placeFinish ? JSON.parse(localStorage.placeFinish) : '';
                    this.dateStart = localStorage.dateStart ? localStorage.dateStart :  moment().format('YYYY-MM-DD') ;
                    this.dateFinish = localStorage.dateFinish ? localStorage.dateFinish : '';
                    this.timeStart = localStorage.timeStart ? localStorage.timeStart : '';
                    this.timeFinish = localStorage.timeFinish ? localStorage.timeFinish : '';
                }
                this.dateStartChanged();
                this.checkPlaceStart();
                this.checkPlaceFinish();
                this.checkDateStart();
                this.checkDateFinish();


            })

        },

    }
</script>
<style>
    optgroup {
        background-color: #ffffff;
    }
</style>

