<template>

        <el-select
                @change="currencyChanged(currentCurrency)"
                v-model="currentCurrency"
                :no-data-text="showFree"
                placeholder="valute">
            <el-option v-for="item in currencies"
                       :key="item.id"
                       :no-match-text="showFree"
                       :label="item.image+' '+item.name_currency"
                       :name="item.description"
                       :value="item.id">
            </el-option>
        </el-select>

</template>


<script>
  import Vue from 'vue'
  import {eventBus} from "../../app";
  const moment = require('moment');
  require('moment/locale/ru');

  Vue.use(require('vue-moment'), {
      moment
  });
  export default {
    props: {
        allCurrencies: '',
        requiredCurrencies: '',
    },


    data: function () {
      return {
        currencies: [],
        currentCurrency: '',
        currentCurrencyObject: {},
        showFree:'no founds items in Data'
      };
    },

    methods: {

        createProperArray: function () {
            for (let key in this.allCurrencies){
                if (this.requiredCurrencies.includes(this.allCurrencies[key].id)){
                    this.currencies.push(this.allCurrencies[key])
                }
            }
        },
        currencyChanged: function (currentCurrency) {
            for (let key in this.currencies){
                if (this.currencies[key].id == currentCurrency){
                    this.currentCurrencyObject = this.currencies[key];
                }
            }
            localStorage.currency = JSON.stringify(this.currentCurrencyObject);
            eventBus.$emit('currencyChanged', JSON.stringify(this.currentCurrencyObject));
            this.writeCurrencyToSession();
        },
        writeCurrencyToSession: function () {
            axios({
                method: 'get',
                url:    '/write-currency-to-session',
                params: {
                    'currencyId': localStorage.currency ? JSON.parse(localStorage.currency).id : 6,
                }
            }).then((response) => {
            });
        },
    },
    computed: {

    },
    mounted() {
        this.createProperArray();
        this.currentCurrency = localStorage.currency ? JSON.parse(localStorage.currency).id : this.currencies[2].id;
    },
    created() {
    },
  }

</script>
<style module>
     .valuta{
         width: 85px;
     }
     .valuta input.el-input__inner{
         border: 0;
     }
     .valuta input.el-input__inner::placeholder {
         color: #333;
     }
</style>



