<template>
    <ul :class="errors?'mistake position-relative overflow-hidden':''">
        <li class="text-danger animated fadeInLeft faster" v-for="error in errors">
            {{error}}
        </li>
    </ul>
</template>

<script>
    export default {
        name: "InputsContactsErrors",

        props: {
            errors: Array,
        },

        data() {
            return {
            };
        },
        mounted() {

        }

    }
</script>

<style module>

</style>
