<template>
    <el-select
            v-model="value"

           no-data-text="showFree"
            value-key="value"
            change="false"
            class="languge-list"
            :placeholder="localCode">
           <!-- :placeholder="languages[localCode].native">-->

        <template slot="prefix">
            <img class="prefix" :src="languages[localCode].photo" />
        </template>
        <el-option
                v-for="(item, key) in languages"
                :key="item.native"
                :class="(key===localCode)? 'languge-list selected':'languge-list'"
                :label="item.native"
                :value="item.native">
            <a :href="(key!==localCode)? item.url: false">
                <img :src="item.photo">
                <span class="text-uppercase">{{ key}}<!--{{ item.native }}--></span>
            </a>
        </el-option>

    </el-select>
</template>


<script>

    export default {
        name: 'languages-switch',

        props: {
            allLanguages: Object,
            localCode: String
        },


        data: function () {
            return {
                languages: {
                    ru:{
                        native:'русский',
                        photo:'https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg',
                        url:'/'
                    }
                },
                showFree: 'no founds items in Data',
                value: null

            };
        },

        methods: {

        },
        computed: {
            setUrl(){
                //nb: для сохранения реактивности через $set изменяем data!!!!

                for (let k in this.allLanguages){
                    if( k === 'ru'){
                        this.$set(this.allLanguages[k], 'photo', 'https://upload.wikimedia.org/wikipedia/commons/f/f3/Flag_of_Russia.svg')
                    }
                    else if(k === 'ua'){
                        this.$set(this.allLanguages[k], 'photo', 'https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Ukraine.svg')
                    }
                    else if(k === 'en'){
                        this.$set(this.allLanguages[k], 'photo', 'https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg')
                    }
                }
                /* console.log('-----2=-----=>', this.allLanguages);*/
            },
            tada(){
                //console.log('-----2=-----=>', this.allLanguages);
            }

        },
        mounted() {
            this.setUrl;


            //  console.log('-----=-----=>', this.allLanguages[this.localCode].native);
           //console.log('-----=-----=>', this.languages);
        },
        created() {
            this.languages = this.allLanguages;
        },
    }
</script>


<style module>
    .languge{
        width: 85px;
    }

    .languge input.el-input__inner::placeholder{
        color: #333;
    }
    .languge input.el-input__inner{
        border: 0;
        text-transform: uppercase;
    }


    .languge-list img {
        width: 20px;
        max-height: 20px;
        height: auto;
        box-shadow: 0 0 1px 0 #313131;
    }
    .el-select-dropdown__item{
        padding: 0;
    }
    .languge-list .el-select-dropdown__item a{
        display: block;
        padding: 0 20px;
    }
    .el-select-dropdown__item>a, .el-select-dropdown__item>span{
        display: block;
        padding: 0 20px;
    }
    .el-input__prefix {
        display: flex;
        align-items: center;
    }

</style>



