<template>
    <div class="price-body pl-1 pr-1 pb-0">
        <div v-if="car.main_25 != 0" class="d-flex text-center">
            <div class="col border-bottom border-right">{{intervals.main_25}}</div>
            <div class="col border-bottom">{{car.main_25}}</div>
        </div>
        <div v-if="car.main_24 != 0" class="d-flex text-center">
            <div class="col border-bottom border-right">{{intervals.main_24}}</div>
            <div class="col border-bottom">{{car.main_24}}</div>
        </div>
        <div v-if="car.main_23 != 0" class="d-flex text-center">
            <div class="col border-bottom border-right">{{intervals.main_23}}</div>
            <div class="col border-bottom">{{car.main_23}}</div>
        </div>
        <div v-if="car.main_22 != 0" class="d-flex text-center">
            <div class="col border-bottom border-right">{{intervals.main_22}}</div>
            <div class="col border-bottom">{{car.main_22}}</div>
        </div>
        <div v-if="car.main_21 != 0" class="d-flex text-center">
            <div class="col border-bottom border-right">{{intervals.main_21}}</div>
            <div class="col border-bottom">{{car.main_21}}</div>
        </div>


        <div class="d-flex text-center">
            <div class="col border-bottom border-right">Залог</div>
            <div class="col border-bottom">{{car.main_10}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            car: {},
            intervals: {}
        },

        data() {
            return {};
        },
        mounted() {
        },
        created() {
            //console.log('----car', this.car.packages)
        }
    }
</script>

<!--<temp>
    <div class="price-body pl-1 pr-1 pb-0">
        <div v-if="car.main_21 != 0" class="d-flex text-center">
            <div class="col border-bottom border-right">{{intervals.main_21}}</div>
            <div class="col border-bottom">{{car.packages.econom.calculated.main_21}}</div>
        </div>
        <div v-if="car.main_22 != 0" class="d-flex text-center">
            <div class="col border-bottom border-right">{{intervals.main_22}}</div>
            <div class="col border-bottom">{{car.packages.econom.calculated.main_22}}</div>
        </div>
        <div v-if="car.main_23 != 0" class="d-flex text-center">
            <div class="col border-bottom border-right">{{intervals.main_23}}</div>
            <div class="col border-bottom">{{car.packages.econom.calculated.main_23}}</div>
        </div>
        <div v-if="car.main_24 != 0" class="d-flex text-center">
            <div class="col border-bottom border-right">{{intervals.main_24}}</div>
            <div class="col border-bottom">{{car.packages.econom.calculated.main_24}}</div>
        </div>
        <div v-if="car.main_25 != 0" class="d-flex text-center">
            <div class="col border-bottom border-right">{{intervals.main_25}}</div>
            <div class="col border-bottom">{{car.packages.econom.calculated.main_25}}</div>
        </div>
        <div  class="d-flex text-center">
            <div class="col border-bottom border-right">Залог</div>
            <div class="col border-bottom">{{car.packages.econom.calculated.main_10}}</div>
        </div>
    </div>
</temp>-->
