<template>
    <div class="d-flex justify-content-center mt-5">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous"  @click="prevPage">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">{{currentPage}}</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next"  @click="nextPage">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>


        </nav>

      <!--  <el-pagination
                background
                layout="prev, pager, next"
                :total="1000">
        </el-pagination>-->
    </div>
</template>


<script>
    export default {
        name: "paginator",
        props: {
            cars:{
                cars: Array
            },


        },

         methods: {
            prevPage(e){
                 this.currentPage--;
                 e.preventDefault();
             },
             nextPage(e){
                 this.currentPage++;
                 e.preventDefault();
             },

         },

        data(){
            return {
                currentPage: 1

            };
        },

        computed: {},

        mounted() {},

        created() {},
    }
</script>



