<template>
  <div class="ravon-tail">

    <div class="ravon-tail-head border_bottom-red m-3">
      <h4 class="ravon-tail-head-title">{{car.name}}</h4>
     <!-- <span class="ravon-tail-head-analog">{{$t('car.equivalent')}}</span>-->
     <!-- <i class="ravon-tail-type ravon-tail-head-class position-relative ">{{car.class_name}}</i>-->
        <i class="ravon-tail-type ravon-tail-head-class position-relative ">{{car.sipp_name}}</i>
    </div>

    <div class="ravon-tail-img text-center pl-3 pt-3 pr-3">
      <img :src="car.image"
           alt="NO IMAGE">
      <!--<img :src='car.image'  alt="NO IMAGE">-->
    </div>

    <div class="ravon-tail-services p-xs-0 p-sm-3">
      <i class="ravon-icon ravon-icon-user">{{car.qd}}</i>
      <i class="ravon-icon ravon-icon-gaz">{{car.fuel_name.slice(0, 1)}}</i>
      <i class="ravon-icon ravon-icon-snowflake"></i>
      <i class="ravon-icon ravon-icon-transmission">{{car.trans_name.charAt(0)}}</i>
      <i class="ravon-icon ravon-icon-engine">{{car.ec}}</i>
    </div>

    <div v-if="!car.hasOwnProperty('calculated')" v-bind:class="{ 'p-3': show }" class="price">
      <div class="d-flex text-center head-dark">
        <div class="col">{{ $t('car.days')}}</div>
        <div class="col">{{ $t('car.days_price')}}, {{currencyImage}}</div>
      </div>
      <part-ravon-price
        :intervals="intervals"
        :car="car"
      ></part-ravon-price>
    </div>

    <div v-if="car.hasOwnProperty('calculated')" class="price">

      <div class="ravon-head text-center">
        <p class="col-12">{{ $t('car.final_price')}} {{diffDays}} {{dayVar}}</p>
        <h1 class="col-12 font-weight-bold">{{car.calculated}} {{currencyImage}}</h1>

        <div class="col-12">
          <div v-if="errorsEmail.length" class="col-12 card card-body mistake animated bounceInDown faster">
            <b>{{ $t('validate.message')}}</b>
            <ul>
              <li v-for="error in errorsEmail">{{ error }}</li>
            </ul>
          </div>
            <transition name="fade">
              <p v-if="!showEmailInput" @click="showEmailInput = true" class="as-link">{{ $t('car.send_proposal')}}</p>
              <div v-if="showEmailInput" class="fieldEmailSendPropose">
                <el-row>
                  <el-input v-model="emailOffer" :placeholder="$t('car.enter_email')" ref="input" @blur="showEmailInput = true;" ></el-input>

                  <el-button @click="sendOffer()" class="sendEmail" type="primary" plain>{{emailButtonLabel}}</el-button>
                </el-row>
              </div>
            </transition>
        </div>

      </div>

      <form v-if="(errors.length == 0)&&car.hasOwnProperty('calculated')" method="GET" :action="orderForm"
            novalidate="true">
        <!--<input type="hidden" name="_token" :value="csrf">-->
        <!--<input type="hidden" name="params" :value="JSON.stringify(this.params)">-->
        <input type="hidden" name="car" :value="JSON.stringify(car)">
        <button type="submit" class="btn btn-primary  btn-lg btn-block rounded-0">
          {{ $t('car.order_btn')}}
        </button>
      </form>
    </div>

    <button v-if="((!car.hasOwnProperty('calculated')))" @click="lounchModal()"
            class="btn btn-outline-primary  btn-lg btn-block rounded-0">
      {{ $t('car.order_btn')}}
    </button>

  </div>
</template>


<script>
  import Vue from 'vue'
  import {eventBus} from "../../app";
  const moment = require('moment');
  require('moment/locale/ru');

  Vue.use(require('vue-moment'), {
      moment
  });
  export default {
    props: {
      car: {},
      intervals: {},
      show: false,
      diffDays: '',
      dayVar: '',
    },


    data: function () {
      return {
        orderForm: "/"+document.documentElement.lang.substr(0, 2)+"/order-form",
        csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        params: {},
        title: 'Ravon r2',
        urlCarPreview: '/images/cars/notfound.jpg',
        paramsToModal: {},
        errors: [],
        errorsEmail: [],
        input: '',
        showEmailInput: false,
        emailOffer: '',
        emailButtonLabel: 'Отправить',
          currencyImage: '$',
      };
    },

      methods: {
          handlClick() {
              this.handlClickdata = !this.handlClickdata;
              if(this.handlClickdata){
                  this.$nextTick(() => this.$refs.input.focus())
              }
          },

          lounchModal: function () {
              localStorage.car = JSON.stringify(this.car);
              localStorage.dateStart = '';
              localStorage.dateFinish = '';
              eventBus.$emit('lounchModal');
          },


          sendOffer: function (e) {
              this.handlClickdata = false;
              this.errorsEmail = [];
              this.checkEmail();
              if (!this.errorsEmail.length) {
                  this.sendForm()
              }else{

              }
          },

          checkEmail: function() {
              if (!this.emailOffer) {
                  if (!this.errorsEmail.includes('Укажите электронную почту.'))this.errorsEmail.push('Укажите электронную почту.');
                  this.backgroundColorEmail =  true;
              } else if (!this.validEmail(this.emailOffer)) {
                  if (!this.errorsEmail.includes('Укажите корректный адрес электронной почты.'))this.errorsEmail.push('Укажите корректный адрес электронной почты.');
                  this.backgroundColorEmail =  true;
              }else{
                  this.backgroundColorEmail =  false;
                  let index = this.errorsEmail.indexOf('Укажите электронную почту.');
                  if (index != -1){
                      this.errorsEmail.splice(index,1);
                  }
                  index = this.errorsEmail.indexOf('Укажите корректный адрес электронной почты.');
                  if (index != -1){
                      this.errorsEmail.splice(index,1);
                  }
              }
          },

          validEmail: function (email) {
              var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              return re.test(email);
          },

          sendForm: function () {
               this.emailButtonLabel = "Отправленно";
               eventBus.$emit('showInfoMessage', this.emailOffer);
              axios({
                  method: 'post',
                  url:    '/send-offer',
                  params: {
                      email:       this.emailOffer,
                      dateStart:   moment(localStorage.dateStart).format('YYYY-MM-DD'),
                      dateFinish:  moment(localStorage.dateFinish).format('YYYY-MM-DD'),
                      timeStart:   moment(localStorage.timeStart).format('HH:mm'),
                      timeFinish:  moment(localStorage.timeFinish).format('HH:mm'),
                      placeStart:  localStorage.placeStart,
                      placeFinish: localStorage.placeFinish,
                      carModel: JSON.stringify(this.car),
                      priceTotal:  Number(this.car.calculated),
                      priceZalog:  Number(this.car.main_10),
                      country:  localStorage.country,
                      dayVar: this.dayVar,
                      diffDays: this.diffDays,
                  }
              }).then((response) => {
                  this.isLoading = false;

              }).catch(error => {
                  this.errors.push('Ошибка сервера');
              }).finally(() => (this.isLoading = false));
          },


      },
    computed: {},

        mounted() {
          this.currencyImage = localStorage.currency ? JSON.parse(localStorage.currency).image : '$';
        },
    created() {
      eventBus.$on('updateCarsAfterSearchForm', () => {
        if (localStorage.errors) {
          this.errors = JSON.parse(localStorage.errors);
        }
          this.currencyImage = localStorage.currency ? JSON.parse(localStorage.currency).image : '$';
      })
    },
  }
</script>

<style>
  .fieldEmailSendPropose{
    position: relative;
    padding-bottom: 8px;
  }
  .sendEmail{
    position: absolute;
    top: 0;
    right: 0;
  }
/*  .el-input__inner{
    padding-right: 130px !important;
  }*/
  .el-button{
    padding: 11px 20px !important;
  }
  .el-button--primary.is-plain span{
    color: #409EFF;
    border-color: #b3d8ff;
  }
  .el-button--primary.is-plain:focus span, .el-button--primary.is-plain:hover span {
    background: #409EFF;
    border-color: #409EFF;
    color: #FFF;
  }
</style>



