<template>
    <div class="filter mt-4 shadow">
        <div class="filter-body">
            <div class="per-data-head-dark"><h5>{{title}}</h5></div>
            <div class="filter-box">
                <ul class="check-list">
                    <li v-for="(model, index) in modelCarList" :key="model.id" >
                        <label class="contain">
                            <input type="checkbox"/>
                            <span class="checkmark"></span>
                            {{model.name}}
                        </label>
                    </li>

                    <li>
                        <p class="check-list-add" v-on:click="showMore = !showMore">Покозать 12 марок других
                            автомобилей </p>
                    </li>

                    <transition-group name="fade">
                        <li  v-if="showMore"  v-for="(model, index) in modelCarList" :key="model.id">
                            <label class="contain">
                                <input type="checkbox"/>
                                <span class="checkmark"></span>
                                {{model.name}}
                            </label>
                        </li>
                    </transition-group>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            sidebarTitle: ''
        },
        data: function () {
            return {
                title: 'Марка автомобиля',
                showMore: false,
                modelCarList: [
                    {id: 1, name: 'Audi'},
                    {id: 2, name: 'Ravon'},
                    {id: 3, name: 'Mersedes'},
                    {id: 4, name: 'Volkswagen'},
                    {id: 5, name: 'Hyundai'},
                    {id: 6, name: 'Renault'},
                    {id: 7, name: 'Peugeot'},
                    {id: 8, name: 'Skoda'},
                ],
                typeCarList: [
                    {id: 1, name: 'Мини'},
                    {id: 2, name: 'Эконом'},
                    {id: 3, name: 'Стандарт'},
                    {id: 4, name: 'Бизнес'},
                    {id: 5, name: 'SUV'},
                    {id: 6, name: 'Премиум'},
                    {id: 7, name: 'Внедорожник'},
                    {id: 8, name: 'Гибрид'},
                ],
                fuelCarList: [
                    {id: 1, name: 'Бензин'},
                    {id: 2, name: 'Дизель'},
                    {id: 3, name: 'Электро'}
                ]
            };

        },

    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
    {
        opacity: 0;
    }
</style>
