<template>

        <el-select
                @change="sortChanged(sortBy)"
                v-model="sortBy">
            <el-option v-for="item in sortingsBy"
                       :key="item"
                       :label="item"
                       :name="item"
                       :value="item">
            </el-option>
        </el-select>

</template>


<script>
  import Vue from 'vue'
  import {eventBus} from "../../app";
  const moment = require('moment');
  require('moment/locale/ru');

  Vue.use(require('vue-moment'), {
      moment
  });
  export default {
    props: {
        allCurrencies: '',
        requiredCurrencies: '',
    },


    data: function () {
      return {
        sortingsBy: [ this.$t('filters.sortA'), this.$t('filters.sortD')],
        sortBy: this.$t('filters.sortA'),
      };
    },

    methods: {
        sortChanged: function (sortBy) {
            //console.log('--sortBy-------', sortBy);
            localStorage.sortBy = this.sortBy;
            eventBus.$emit('sortBy',this.sortBy);
        },
    },
    computed: {

    },
    mounted() {
    },
    created() {
    },
  }

</script>
<style module>
     .valuta{
         width: 85px;
     }
     .valuta input.el-input__inner{
         border: 0;
     }
     .valuta input.el-input__inner::placeholder {
         color: #333;
     }
</style>



