<template>
    <div id="modalCertificate" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <!--header
                <div class="modal-header  text-white head-red">
                    <h5 class="modal-title ">
                        {{ $t('menu.correct')}}!
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>-->
                <!--body-->
                <div class="modal-body">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:middle;" width="100%">
                        <tbody>
                        <tr>
                            <td align="center" style="font-size:0;word-break:break-word;">

                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0;">
                                    <tbody>
                                    <tr>
                                        <td style="width:400px;">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <a href="http://lion-avtoprokat.com.ua/autopark.html" target="_blank">
                                                <img height="auto" src="http://lion-avtoprokat.com.ua/images/lion_2.png"
                                                     style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:14px;" alt="auto"
                                                     width="400">
                                            </a>
                                            <p class="mb-3 text-black-50" style="font-size: 12px">{{ $t('form.in_process')}}</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--<h5 class="text-center border-bottom pb-3 mb-1">{{ $t('certificate.order_includes')}}</h5>-->

                    <table class="order-info" border="0" colpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th colspan="2">
                                <h5 class="text-center">
                                    {{ $t('form.your_order')}}<b class="text-info"> № {{orderNumber}}</b> {{ $t('form.accepted')}}!
                                </h5>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2"><h6 class="vaucher-title">{{$t('form.personal_data')}}</h6></td>
                        </tr>
                        <tr>
                            <td><div><b>{{$t('form.fio')}}:</b></div></td>
                            <td><div>{{userName}}</div></td>
                        </tr>
                        <tr>
                            <td><div><b>{{$t('form.phone')}}:</b></div></td>
                            <td><div>{{phone}}</div></td>
                        </tr>
                        <tr>
                            <td><div><b>{{$t('form.email')}}:</b></div></td>
                            <td><div>{{email}}</div></td>
                        </tr>
                        <template v-if="comment">
                            <tr>
                                <td colspan="2"><div>{{comment}}</div></td>
                            </tr>
                        </template>


                        <tr>
                            <td colspan="2"><h6 class="vaucher-title">Детали заказа</h6></td>
                        </tr>
                        <tr style="vertical-align: middle;">
                            <td>
                                <img :src="car.image" class="picsum" alt="picsum">
                            </td>
                            <td>
                                <div>
                                    <h4> {{currentCar.name}}</h4>
                                    {{currentCar.vg}}
                                    <span class="text-black-50">&bull;</span>
                                    {{currentCar.ec}}
                                    <span class="text-black-50">&bull;</span>
                                    {{currentCar.trans_name}}
                                    <span class="text-black-50">&bull;</span>
                                    {{currentCar.class_name}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="get">
                                    <b>{{$t('form.get')}}:</b>
                                </div>
                                <div class="text-nowrap">
                                    <i class="el-icon-date"> {{dateStartToShow}}</i>
                                    <i class="el-icon-time"> {{timeStartToShow}}</i>
                                </div>
                                <div>{{placeStartToShow}} </div>
                            </td>
                            <td>
                                <div class="return"><b>{{$t('form.return')}}:</b></div>
                                <div class="text-nowrap">
                                    <i class="el-icon-date"> {{dateFinishToShow}}</i>
                                    <i class="el-icon-time"> {{timeFinishToShow}}</i>
                                </div>
                                <div>{{placeFinishToShow}} </div>
                            </td>
                        </tr>


                        <template v-if="fullCheckedOptions.length">
                            <tr>
                                <td colspan="2"><h6 class="vaucher-title">{{$t('form.options')}}</h6></td>
                            </tr>

                            <template v-for="el in fullCheckedOptions">
                                <tr>
                                    <td><div><b>{{el.name}}</b></div></td>
                                    <td><div class="text-right">{{el.price}}{{currencyImage}}</div></td>
                                </tr>
                            </template>

                        </template>

                        <tr>
                            <td colspan="2"><h6 class="vaucher-title">{{$t('certificate.total')}}</h6></td>
                        </tr>
                        <tr>
                            <td>
                                <div ><b>{{ $t('certificate.deposit')}}</b></div>
                            </td>
                            <td>
                                <div class="text-right"><b>{{priceZalog}}{{currencyImage}}</b></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div><b>{{ $t('certificate.price')}} / {{diffDays}} {{dayVar.toLowerCase()}}</b></div>
                            </td>
                            <td>
                                <div><h4 class="text-right"> {{priceTotal + addOptionsPrice}}{{currencyImage}} </h4></div>
                            </td>
                        </tr>
                    </table>

                    <!--footer-->
                    <div class="modal-footer pb-0 mt-1">
                        <div class="row">
                            <i class="text-black-50">{{ $t('form.for_consult')}} {{ $t('form.in_ukraine')}} <b>+38(067) 780-86-99</b></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Vaucher",
        props:{
            car: Object,
            orderNumber: String,
            userName: String,
            phone: String,
            email: String,
            comment: String,

            currencyImage: String,

            currentCar: Object,
            dateStartToShow: String,
            timeStartToShow: String,
            dateFinishToShow: String,
            timeFinishToShow: String,
            addServices: Array,
            addOptions: Array,
            fullCheckedOptions: Array,
            addOptionsPrice: Number,
            diffDays: Number,
            dayVar: String,

            priceTotal: Number,
            priceZalog: Number,
            placeStartToShow: String,
            placeFinishToShow: String
        },

        data() {
            return {
                calculateAddOptions() {
                    this.addOptionsPrice = 0;
                    for (var key in this.addServices) {
                        if (this.addOptions.includes(this.addServices[key].id)) {
                            this.addOptionsPrice += Math.ceil(Number(this.addServices[key].price)*this.currencyRate);
                        }
                    }
                },
            };
        },
    }
</script>

<style module>
    #modalCertificate{
        padding: 0 !important;
    }
    .picsum{
        width: 70%;
    }
    .order-info {
        /*display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1px 0;*/

        margin: auto;
        font: normal 12px monospace;
        vertical-align: top;
    }
    table.order-info tr, table.order-info td {
        vertical-align: inherit;
    }
    table.order-info td {
        max-width: 50%;
    }
    .order-info div {
        padding: .2rem .5rem;
    }
    h6.vaucher-title {
        white-space: nowrap;
        margin: 0;
        padding: .5rem;
        background-color: #dee2e6;
    }
</style>
