.logo{
  img{
    max-width: 100%;
  }
}

header {
  padding-bottom: 20px;
  .box-free {
    //height: calc(100% - 25px);
    border-bottom: dashed 1px #b9b9b9;
  }
  a {
    white-space: nowrap;
    display: inline-block;
    color: #333;
    &:hover{
      color: #cc0000;
    }
  }

  .box-1 {
    order: 1;
  }

  .box-2 {
    order: 2;
    img {
      max-width: 320px;
      //max-height: 55px;
      width: 100%;
    }
  }

  .box-3 {
    order: 3;
  }
}
.languge-valuta {
  /*display: flex;
  align-items: flex-end;*/
  display: grid;
  grid-template-columns: repeat(2, 90px);
  justify-content: end;
  align-items: end;
  justify-items: end;
}
.languge-valuta-mob{

  display: grid;
  grid-template-columns: repeat(2, 90px);
  justify-content: end;
  align-items: end;
  justify-items: end;
}
.nav-open .city-select > li:hover ul{
  grid-template-columns: repeat(3, 1fr);
}
.nav-open .city-select > li{
  position: unset!important;
}
.nav-open ul.nav-secondary.fadeIn.animated.faster.menu-ul-2{
  width: 100%;
}

.city-select{
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;


   .nav-secondary {
    display: none;
  }

  >li{
    &:hover{
      position: relative;
      ul{ 
        display: grid;
        grid-gap: 5px 5px;
        grid-template-columns: repeat(3, 1fr);

        // display: block;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        background: #fff;
        list-style: none;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.39);
        >li{
          &:hover{
            background: #fff6f5;
          }
        }

        /*animation-duration: 20ms;
        animation-name: fadeInDown;*/
      }
    }
  }

}

 .number_phone{
   display: grid;
   grid-template-columns: 17px 17px 1fr;
   grid-gap: 5px 5px;
   margin: 5px 0;
 }




.menu-icon {
  position: relative;
  display: block;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;


  &:hover span {
    background: #222;

    &:before, &:after { background: #222; }
  }
}

.menu-icon > span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: lighten(#222, 60%);
  border-radius: 3px;
  transition: transform 0.3s, background 0.25s ease;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lighten(#222, 60%);
  border-radius: 3px;
  transition: transform 0.3s, background 0.25s ease;
}

.menu-icon > span:before {
  transform: translateY(-0.75em);
}

.menu-icon > span:after {
  transform: translateY(0.75em);
}


/* OPENED */

.menu-icon.open {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-icon.open > span:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu-icon.open > span:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}