
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";


// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


body{
  word-wrap: normal;

    min-width: 320px;
  
}
// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "nav";

@import "libs/animate.scss";
@import "pages/_home.scss";
@import "pages/order-block";
@import "pages/rental_care";

 // всеГда последним !!!
@import "pages/_adaptive.scss";



























