/** {
  transition: .4s ease-in-out;
}*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background: #353d4a;
  color: #ffffff;
}
::selection  {
  background: #353d4a;
  color: #ffffff;
}
*:target:before {
  content: "";
  display: block;
  height: 2em;
  margin-top: -2em;
}
ul, ol {
  list-style: none;
}
ul.list-circle {
  list-style: circle;
  margin: 0 0 20px 20px;
}
ul.list-circle li {
  margin-bottom: 10px;
}
ul.list-circle li:last-child {
  margin-bottom: 0;
}
body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1D2E4C;
  background: #F8F9FB;
  word-spacing: 2px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  clear: both;
  font-weight: 500;
  padding: 0 0 15px;
}
.post-title {
  padding-bottom: 5px;
}
img {
  max-width: 100%;
  height: auto;
}
video {
  width: 100%;
  height: auto;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
.post h2, .post h3, .post h4 {
  padding-top: 20px;
}
p {
  padding-bottom: 20px;
}
a {
  text-decoration: none;
}
.content a, .search-wrapper a {
  border-bottom: 1px dotted;
  color: #3777EC;
}
.content a:visited {
  color: #9095a1;
}
.content a:hover, .search-wrapper a:hover {
  color: #6bcfcb;
}
.content a.external-link {
  display: inline-flex;
  align-items: center;
  margin: 10px 0 30px;
  border-bottom: none;
}
.content a.external-link:after {
  content: "\f08e";
  font-family: FontAwesome;
  margin-left: 10px;
}
blockquote {
  font-style: italic;
  color: #9095a1;
  margin: 20px 0 20px 45px;
  border-left: 5px solid #e3eaf0;
  padding-left: 30px;
  line-height: 1.4em;
  position: relative;
}
blockquote p {
  padding: 0;
}
blockquote:before {
  content: "\f10d";
  font-family: FontAwesome;
  position: absolute;
  left: -45px;
  top: 10px;
  color: #e3eaf0;
  font-size: 25px;
}
figcaption {
  clear: both;
  color: #9095a1;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 10px;
}
figcaption:before {
  content: "\f030";
  font-family: FontAwesome;
  margin-right: 12px;
  color: #9095a1;
}
figure {
  width: 100%;
  margin-bottom: 20px;
}
figure a {
  display: block;
}
figure > .alignnone {
  margin-bottom: 0;
}
caption {
  color: #9095a1;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px 0;
  text-align: right;
}
.t1, .t2, .t3, .t4, .t5, .t6, .t7 {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border: 1px solid #e3eaf0;
  margin-bottom: 30px;
}
.t1 th {
  color: #3777ec;
  text-align: center;
  border-bottom: 1px dashed #e3eaf0;
  padding: 10px 15px;
}
.t1 td {
  padding: 8px 15px;
  font-size: 90%;
  vertical-align: top;
}
.t1 td:first-child {
  width: 20%;
  vertical-align: top;
}
.t3 th, .t2 th, .t4 th {
  color: #9095a1;
  text-align: left;
  background: #e3eaf0;
  padding: 7px 15px;
}
.t3 td, .t2 td, .t4 td {
  border: 1px solid #e3eaf0;
  padding: 5px 15px;
  font-size: 90%;
  line-height: 1.4;
}
.t4 td:first-child {
  font-size: 180%;
  font-weight: bold;
}
.t5 th {
  color: #9095a1;
  font-size: 90%;
  background: #e3eaf0;
  padding: 7px 10px;
}
.t5 td {
  border: 1px solid #e3eaf0;
  text-align: center;
  padding: 7px 5px;
  font-size: 80%;
  line-height: 1.4;
}
.t6, .t7 {
  table-layout: fixed;
  text-align: center;
}
.t6 th, .t7 th, .t6 td, .t7 td {
  border: 1px solid #e3eaf0;
}
.t7 td {
  color: #9095a1;
}
.t7 th {
  padding: 10px 0;
}
.t7 td {
  padding: 7px 0;
}
kbd, code {
  background: #f5f5f5;
  padding: 1px 6px 2px;
  border-radius: 3px;
  font-size: 0.875em;
  font-family: "Courier New", monospace;
  word-break: keep-all;
  border: 1px solid #e3eaf0;
  text-shadow: 0 1px white;
}
pre {
  background: #f5f5f5;
  padding: 20px;
  margin-bottom: 30px;
  overflow: auto;
  text-shadow: 0 1px white;
  font-family: "Courier New", monospace;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  border: 1px solid #e3eaf0;
  font-size: 14px;
  border-radius: 3px;
  width: 100%;
  clear: both;
}
.size-page-image {
  float: left;
  width: auto;
  margin: 0 30px 20px 0;
  box-shadow: 0 0 0 2px #f5f5f5;
}
.content a.read-more-button {
  display: inline-block;
  color: white;
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 3px;
  border-bottom: none;
  background: linear-gradient(to right, #3777ec, #6bcfcb);
}
.content a.read-more-button:hover {
  color: white;
  box-shadow: 0 15px 69px rgba(0, 0, 0, 0.21);
}
.comment_link {
  margin-bottom: 20px;
}
.comment_link:last-child {
  margin-bottom: 0;
}
.comment_author {
  display: block;
  font-weight: bold;
  font-size: 12px;
}
.comment_text {
  font-size: 14px;
  line-height: 1.2;
  color: inherit;
  display: block;
  margin: 5px 0 10px;
}
.comment_post {
  color: #3777EC;
  font-size: 12px;
  text-decoration: underline;
  line-height: 1;
  display: inline-block;
}